@let _isShowSidebar = isShowSidebar();
<div class="c-layout-user-wrapper">
  <sd-layout-user-menu
    class="c-layout-user-avatar"
    [userInfo]="userInfo()"
    [compact]="true"
    (opened)="onMenuOpened()"
    (closed)="onMenuClosed()"></sd-layout-user-menu>

  @if (!isMobileOrTablet()) {
    <button
      type="button"
      class="c-layout-icon-toggle"
      [attr.aria-expanded]="_isShowSidebar"
      [attr.aria-label]="'core.module.layout.sidebar.toggle' | sdTranslate"
      (click)="onToggleMenuLock($event)">
      <sd-icon size="18px" fontSet="material-icons-outlined" [name]="_isShowSidebar ? 'chevron_left' : 'chevron_right'"></sd-icon>
    </button>
  }
</div>
