.c-ellipsis-html {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.c-collapse {
  background: none;
  color: rgb(0, 0, 238);
  border: none;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}
