@let columnField = column().field;

@let columnCharLimit = column()?.charLimited;
@let isExpandByMore = isOverflowing() && columnCharLimit?.expandType === 'more';
@let isExpandByTooltip = isOverflowing() && columnCharLimit?.expandType === 'tooltip';

@let template = cellDef()[columnField]?.templateRef || column()?.cellDef;
@let context =
  {
    item: item().data,
    column: column(),
    autoId: autoId() + columnField + '-' + itemKey(),
  };

@if (template) {
  <!-- Nếu column có bật "giới hạn ký tự" -->
  @if (columnCharLimit?.enable) {
    <div
      #contentContainer
      [style.max-width]="charLimited()?.width"
      [class.c-ellipsis-html]="isCollapsed()"
      [sdTooltip]="isExpandByTooltip ? htmlTooltip : ''">
      <ng-container *ngTemplateOutlet="template; context: context" />
    </div>

    <!-- Nếu option xem full thông tin là "tooltip" -->
    <ng-template #htmlTooltip>
      <div
        [style.max-width]="'calc(' + charLimited()?.width + ' * 1.5)'"
        style="max-height: 200px; overflow-y: auto; scrollbar-width: thin">
        <ng-container *ngTemplateOutlet="template; context: context" />
      </div>
    </ng-template>

    <!-- Nếu option xem full thông tin là "btn xem thêm" -->
    @if (isExpandByMore) {
      <button (click)="toggle()" class="c-collapse">
        {{ isCollapsed() ? 'Xem thêm' : 'Thu gọn' }}
      </button>
    }
  } @else {
    <ng-container *ngTemplateOutlet="template; context: context" />
  }
} @else {
  <sd-desktop-cell-view [column]="column()" [charLimited]="charLimited()" [item]="item()" [autoId]="context.autoId" />
}
