:host {
  padding-top: 5px;
  display: block;
}

.sd-chip-input {
  margin-top: 0 !important;
}

:host ::ng-deep {
  .mat-mdc-form-field {
    // Bỏ padding nếu disableError
    &.no-padding-wrapper {
      .mat-mdc-text-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  mat-form-field {
    &.c-md {
      .mat-mdc-standard-chip {
        padding: 7px 10px;
        min-height: 26px;

        .mat-mdc-chip-trailing-icon {
          padding-top: 7px;
          padding-bottom: 7px;
          padding-right: 7px;
          padding-left: 10px;
        }
      }
    }
  }

  // Size normal (md) for mat-chip-grid
  .mat-mdc-chip-row {
    &.sd-md {
      // Add styles for md size if needed
    }

    &.sd-sm {
      --mdc-chip-label-text-size: 12px;
      --mdc-chip-container-height: 20px;
    }
  }

  .mat-mdc-chip-set {
    &.sd-md {
      margin-top: 10px;
    }

    &.sd-sm {
      margin-top: 2px;
    }
  }
}

/* CSS sdViewDef */
.sd-view {
  &:not(.c-focused):not(.c-disabled) {
    &:hover {
      background-color: #ebecf0;
    }
  }
}
