@let _tokens = tokens();
<fb-value-box
  [label]="label()"
  [empty]="!_tokens.length"
  [tooltip]="text()"
  [readonly]="readonly()"
  [editLabel]="'core.component.form-builder.expression.edit' | sdTranslate"
  (edit)="onEdit()">
  @if (_tokens.length) {
    <span class="expr">
      @for (token of _tokens; track $index) {
        <span class="expr__tok expr__tok--{{ token.kind }}">{{ token.text }}</span>
      }
    </span>
  } @else {
    {{ 'core.component.form-builder.expression.empty' | sdTranslate }}
  }
</fb-value-box>

<sd-modal [title]="'core.component.form-builder.set-expression' | sdTranslate" width="920px" modalClass="sd-form-builder-dialog">
  <div class="fb-expression-query">
    <sd-query-builder [fields]="queryFields()" [(value)]="draftFilter"></sd-query-builder>
  </div>
  <sd-button
    sdFooterRight
    prefixIcon="check"
    [title]="'core.component.form-builder.confirm' | sdTranslate"
    (click)="onAccept()"
    color="primary"
    type="fill"></sd-button>
</sd-modal>
