<sd-section class="mt-8" title="Thông tin chung" icon="info">
  <attribute-template [component]="component" (sdChange)="onChangeTemplate($event)"></attribute-template>
  <attribute-input label="Trường dữ liệu" [(model)]="component.key" [disabled]="!!component.template"></attribute-input>
  <attribute-input [form]="form" label="Tên hiển thị" [(model)]="component.label"></attribute-input>
  <attribute-select
    label="Loại"
    [(model)]="component.properties!.type"
    [items]="[
      { value: 'file', display: 'Tệp' },
      { value: 'image', display: 'Ảnh' }
    ]"></attribute-select>
</sd-section>

@if (!component.properties!.hidden && !component.properties!.viewed) {
  <sd-section class="mt-8" title="Hiển thị" icon="visibility">
    <attribute-switch label="Vô hiệu" [(model)]="component.disabled"></attribute-switch>
    <attribute-expression
      label="Hiển thị khi"
      [components]="components"
      [variables]="variables"
      [(model)]="component.properties!.visibleWhenExpression"></attribute-expression>
    <attribute-expression
      label="Ẩn khi"
      [components]="components"
      [variables]="variables"
      [(model)]="component.properties!.hiddenWhenExpression"></attribute-expression>
    @if (!component.disabled) {
      <attribute-expression
        label="Vô hiệu khi"
        [components]="components"
        [variables]="variables"
        [(model)]="component.properties!.disabledWhenExpression"></attribute-expression>
    }
  </sd-section>
  <sd-section class="mt-8" title="Ràng buộc" icon="verified_user">
    <attribute-switch label="Bắt buộc" [(model)]="component.validate!.required"></attribute-switch>
    @if (!component.validate!.required) {
      <attribute-expression
        label="Bắt buộc khi"
        [components]="components"
        [variables]="variables"
        [(model)]="component.properties!.requiredWhenExpression"></attribute-expression>
    }
    <attribute-input-number label="SL tệp/ảnh tối đa" [(model)]="component.properties!.max"></attribute-input-number>
    <attribute-input-number label="Dung lượng (Mb)" [(model)]="component.properties!.maxSize"></attribute-input-number>
    @if (component.properties!.type === 'file') {
      <attribute-input label="Định dạng (VD: png,jpg ...)" [model]="extension" (modelChange)="onChangeExtension($event)"></attribute-input>
    }
    @if (component.properties!.type === 'image') {
      <attribute-select label="Nguồn (mobile)" [(model)]="component.properties!.source" [items]="sources"></attribute-select>
    }
  </sd-section>
  <sd-section class="mt-8" title="Tham số" icon="settings">
    <attribute-parameter label="Gán tham số" [components]="components" [(model)]="component.properties!.args"></attribute-parameter>
  </sd-section>
}
