@use '../../../assets/scss/core/color.scss' as color;
@use 'sass:map';
:host {
  width: 100%;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;

  .c-drag-preview {
    border: 2px dashed map.get(color.$color_map, 'primary');
    border-radius: 4px;
    vertical-align: middle;
    display: table-cell;

    .c-container {
      width: 100%;
      height: 100%;
      padding: 5px 10px 0px 10px;
      display: table;

      mat-icon {
        color: map.get(color.$color_map, 'secondary-light');
        vertical-align: middle;
        display: table-cell;
      }
    }

    .c-img-error {
      width: 100%;
      height: 100%;
      padding: 5px 10px 0px 10px;
      display: table;

      mat-icon {
        color: map.get(color.$color_map, 'secondary-light');
        vertical-align: middle;
        display: table-cell;
      }
    }
  }

  .c-area-upload {
    border: 1px dashed map.get(color.$color_map, 'primary');
    border-radius: 8px;
    display: table;
    position: relative;
    text-align: center;
    margin: 3px;
    opacity: 0.6;
    &:hover {
      opacity: 0.3;
    }
  }

  .c-area {
    border: 1px dashed map.get(color.$color_map, 'primary');
    border-radius: 8px;
    display: table;
    position: relative;
    text-align: center;
    margin: 3px;
    opacity: 0.6;

    &.c-view {
      border: 1px solid map.get(color.$color_map, 'black200');
      opacity: 0.9;
    }

    &.c-area-error {
      background-color: rgba(242, 243, 244, 1);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
      // opacity: 0.5;
    }

    &.c-loading {
      background-color: rgba(242, 243, 244, 1);
    }

    .c-icon {
      vertical-align: middle;
      display: table-cell;
      margin: 16px;
      font-size: 50px;
      color: grey;
      cursor: pointer;
    }

    .c-preview {
      vertical-align: middle;
      display: table-cell;

      .c-img-container {
        width: 100%;
        display: table;

        .c-action {
          display: none;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
        }

        .c-img {
          max-width: 100%;
          max-height: calc(100% - 5px);
        }

        .c-img-error {
          max-width: 100%;
          max-height: calc(100% - 5px);
          content: url('./assets/img-error.svg') !important;
        }

        .c-overlay-count {
          display: flex;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 2px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          position: absolute;
          border-radius: 2px;
          width: 65%;
          height: 65%;
          background: rgba(0, 0, 0, 0.54);
          cursor: pointer;
          .c-overlay-text {
            color: #fff;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
          }
        }

        &:hover:not(.has-overlay),
        &.c-selected:not(.has-overlay) {
          .c-action {
            display: flex;
          }

          .c-img {
            opacity: 0.2;
          }
        }
      }

      .c-btn-remove {
        position: absolute;
        width: 24px;
        height: 24px;
        background: transparent;
        cursor: pointer;
        color: white;
        border: none;
        z-index: 9;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -8px;
        right: -8px;
        background-color: #e6e6e6;
        color: #000;
        border: 2px solid #fff;

        .mat-icon {
          font-size: 16px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .c-img-eror {
    height: 18px;
    width: 18px;
    font-size: 18px;
    cursor: pointer;
    color: map.get(color.$color_map, 'black400');
  }

  .c-upload {
    height: 18px;
    width: 18px;
    font-size: 18px;
    cursor: pointer;
    color: map.get(color.$color_map, 'primary');
  }

  .c-zoom {
    height: 18px;
    width: 18px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }
}

:host ::ng-deep {
  button {
    &:focus {
      outline: none;
    }
  }
}

.c-drag-placeholder {
  border-radius: 4px;
  background: map.get(color.$color_map, 'primary')-light;
  border: 2px dashed map.get(color.$color_map, 'primary');
  display: table-cell;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.file {
  padding: 5px;
  content: url('../../../assets/img/file-types/png/file.png');

  &.png {
    content: url('../../../assets/img/file-types/png/png.png');
  }

  &.jpg {
    content: url('../../../assets/img/file-types/png/jpg.png');
  }

  &.pdf {
    content: url('../../../assets/img/file-types/png/pdf.png');
  }

  &.doc {
    content: url('../../../assets/img/file-types/png/doc.png');
  }

  &.docx {
    content: url('../../../assets/img/file-types/png/docx.png');
  }

  &.xls {
    content: url('../../../assets/img/file-types/png/xls.png');
  }

  &.xlsx {
    content: url('../../../assets/img/file-types/png/xlsx.png');
  }

  &.ppt {
    content: url('../../../assets/img/file-types/png/xls.png');
  }

  &.pptx {
    content: url('../../../assets/img/file-types/png/xlsx.png');
  }

  &.csv {
    content: url('../../../assets/img/file-types/png/csv.png');
  }

  &.psd {
    content: url('../../../assets/img/file-types/png/psd.png');
  }

  &.xml {
    content: url('../../../assets/img/file-types/png/xml.png');
  }

  &.zip {
    content: url('../../../assets/img/file-types/png/zip.png');
  }
}

.mat-icon-button {
  width: 25px;
  height: 25px;
  line-height: 25px;

  .material-icons {
    font-size: 17px;
  }
}

.c-document-container {
  margin-top: 4px;
  display: flex;
  gap: 4px;
  justify-content: left;
  align-items: center;
  padding: 4px;
  border: 1px map.get(color.$color_map, 'black200') dashed;
  border-radius: 4px;
  height: 32px;
  background-color: #f9f9f9;
  .c-document-image {
    height: 24px;
    max-width: 100%;
    margin-right: 4px;
    content: url('../../../assets/img/file-types/png/file.png');
    &.png {
      content: url('../../../assets/img/file-types/png/png.png');
    }

    &.jpg {
      content: url('../../../assets/img/file-types/png/jpg.png');
    }

    &.pdf {
      content: url('../../../assets/img/file-types/png/pdf.png');
    }

    &.doc {
      content: url('../../../assets/img/file-types/png/doc.png');
    }

    &.docx {
      content: url('../../../assets/img/file-types/png/docx.png');
    }

    &.xls {
      content: url('../../../assets/img/file-types/png/xls.png');
    }

    &.xlsx {
      content: url('../../../assets/img/file-types/png/xlsx.png');
    }

    &.ppt {
      content: url('../../../assets/img/file-types/png/xls.png');
    }

    &.pptx {
      content: url('../../../assets/img/file-types/png/xlsx.png');
    }

    &.csv {
      content: url('../../../assets/img/file-types/png/csv.png');
    }

    &.psd {
      content: url('../../../assets/img/file-types/png/psd.png');
    }

    &.xml {
      content: url('../../../assets/img/file-types/png/xml.png');
    }

    &.zip {
      content: url('../../../assets/img/file-types/png/zip.png');
    }

    &.tiff {
      content: url('../../../assets/img/file-types/png/tiff.png');
    }
  }
  .c-file-name {
    flex: 0 1 auto; // chiếm hết phần còn lại
    min-width: 0; // bắt buộc để ellipsis hoạt động trong flex
    overflow: hidden; // ẩn phần tràn
    white-space: nowrap; // không xuống dòng
    text-overflow: ellipsis; // hiển thị ...
  }
  .c-close {
    margin-left: auto;
    font-size: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    color: map.get(color.$color_map, 'black400');
    &:hover {
      background-color: map.get(color.$color_map, 'black200'); // nền xám nhạt
    }
  }
}
