@let item = field();
@if (viewed()) {
  <div class="text-secondary">{{ item.label || item.key }}</div>
  <sd-upload-file
    [type]="item.accept"
    [form]="form()"
    [name]="item.key"
    [autoId]="item.key"
    [model]="value()"
    align="left"
    [args]="args()"
    disabled
    previewWidth="50px"
    previewHeight="50px"></sd-upload-file>
} @else {
  <sd-upload-file
    [type]="item.accept"
    [form]="form()"
    [label]="item.label || item.key"
    [helperText]="item.helperText"
    [name]="item.key"
    [autoId]="item.key"
    [model]="value()"
    (modelChange)="setValue($event)"
    [max]="item.maxFiles"
    [maxSize]="item.maxSizeMb"
    [extensions]="item.extensions"
    [args]="args()"
    align="left"
    [required]="required()"
    [disabled]="disabled()"
    previewWidth="50px"
    previewHeight="50px"></sd-upload-file>
}
