@use '../../../../../assets/scss/core/color.scss' as color;
@use 'sass:map';

:host {
  display: flex;
  align-items: center;
  //justify-content: center; --> Căn trái actions
}

button[mat-icon-button] {
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
}

mat-icon {
  &.c-icon {
    color: map.get(color.$color_map, 'black400') !important;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }
}
