.sd-mini-editor {
  display: block;
  width: 100%;
  overflow-y: auto;
}

::ng-deep {
  .ck-mentions {
    .ck-button.ck-on {
      background: var(--sd-primary) !important;
      color: #fff !important;

      * {
        color: #fff !important;
      }
    }
  }
}

:host ::ng-deep {
  .ck-editor {
    --ck-content-font-size: 14px;
    --ck-content-line-height: 1.5;
  }

  .ck-content {
    img {
      max-width: 100% !important;
      height: auto !important;
      object-fit: contain;
    }

    p {
      margin-bottom: var(--ck-spacing-large);
      text-indent: 0;
    }

    ul,
    ol {
      padding-left: 20px !important;
      margin-left: 0 !important;
    }
  }

  .ck-custom-mention {
    font-weight: 600;
    padding: 0 2px;
    display: inline-block;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    color: #2962ff;

    &::before {
      content: attr(data-marker);
    }
  }
}
