@use '../../../../../assets/scss/core/color.scss' as color;
@use 'sass:map';

$image-viewer-height: 60vh;
$thumbnail-size: 100px;
$gap-size: 0.5rem;

.image-gallery {
  display: flex;
  width: 100%;
  max-height: 60vh;
  min-height: 60vh;

  .main-image-container {
    flex: 1;
    position: relative;
    background-color: map.get(color.$color_map, 'black100');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    .next-icon {
      position: absolute;
      top: 45%;
      right: 8px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.54);
      z-index: 9999;
    }

    .back-icon {
      position: absolute;
      top: 45%;
      left: 8px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.54);
      z-index: 9999;
    }

    .c-img-error {
      text-align: center;
      color: map.get(color.$color_map, 'error');
      mat-icon {
        height: 36px;
        width: 36px;
        font-size: 36px;
      }
    }
  }

  .thumbnail-container {
    width: calc($thumbnail-size + 20px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
  }

  .thumbnail-wrapper {
    position: relative;
    width: $thumbnail-size;
    aspect-ratio: 1;
    flex: 0 0 auto;
    overflow: hidden;
    padding: 0;
    border: none;
    background: transparent;
    .thumbnail-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
    &.c-img-error {
      background-color: map.get(color.$color_map, 'black200');
      .thumbnail-img {
        justify-self: center;
        height: 24px;
        width: 24px;
        content: url('../../assets/img-error.svg') !important;
      }
    }
  }

  .main-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
  }

  .main-document {
    object-fit: contain;
    height: 64px;
    width: 64px;
    display: block;
  }
}

.file {
  padding: 4px;
  content: url('../../assets/file-types/file.svg');

  &.svg {
    content: url('../../assets/file-types/png.svg');
  }

  &.jpg {
    content: url('../../assets/file-types/jpg.svg');
  }

  &.pdf {
    content: url('../../assets/file-types/pdf.svg');
  }

  &.doc {
    content: url('../../assets/file-types/doc.svg');
  }

  &.docx {
    content: url('../../assets/file-types/docx.svg');
  }

  &.xls {
    content: url('../../assets/file-types/xls.svg');
  }

  &.xlsx {
    content: url('../../assets/file-types/xlsx.svg');
  }

  &.ppt {
    content: url('../../assets/file-types/xls.svg');
  }

  &.pptx {
    content: url('../../assets/file-types/xlsx.svg');
  }

  &.csv {
    content: url('../../assets/file-types/csv.svg');
  }

  &.psd {
    content: url('../../assets/file-types/psd.svg');
  }

  &.xml {
    content: url('../../assets/file-types/xml.svg');
  }

  &.zip {
    content: url('../../assets/file-types/zip.svg');
  }
}
