<!-- <div class="d-flex align-items-center py-4">
  @if (label) {
    <div class="T14R" style="flex: 1">{{ label }}</div>
  }
  <sd-switch size="sm" [form]="form" [(model)]="model" (sdChange)="onChange($event)" hideInlineError></sd-switch>
</div> -->
<sd-select
  class="py-8"
  [label]="label!"
  [form]="form"
  [(model)]="model"
  valueField="value"
  displayField="display"
  [items]="[
    { value: true, display: 'Có' },
    { value: false, display: 'Không' }
  ]"
  (sdChange)="onChange($event)"
  hideInlineError></sd-select>
