@use '../../../assets/scss/core/color.scss' as color;
@use 'sass:map';

:host ::ng-deep .mat-mdc-form-field.sd-form-tooltip {
  width: calc(100% - 30px);
}

:host ::ng-deep {
  // Form field color
  .mat-mdc-form-field {
    // Disabled background & border
    &.mat-form-field-appearance-outline {
      &.mat-form-field-disabled {
        .mat-mdc-text-field-wrapper {
          background: color.$disabled-bg;
        }
      }
    }
    // Disabled text input color
    input {
      &.mat-mdc-input-element:disabled {
        color: color.$disabled-text !important;
      }
    }
    .mat-mdc-placeholder-required {
      color: map.get(color.$color_map, 'error');
    }
  }
}

.sd-view {
  &:not(.c-focused):not(.c-disabled) {
    &:hover {
      background-color: #ebecf0;
    }
  }
}

.sd-tooltip {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 30px;
}

:host {
  padding-top: 5px;
  display: block;
}

.sd-md:hover .btn-copy {
  visibility: visible;
}
