/* FORM KHAI BÁO */
.input {
  width: 100%;
  background: #fff;
  height: 30px;
  border: 1px solid var(--md-sys-color-outline-variant);
  position: relative;
}

.c-checkbox {
  .c-box{
    border: 2px solid #828282;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }
}
