.c-anchor-horizontal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 16px;

  .c-anchor-content {
    flex: 1;
    overflow-y: scroll;
    height: 100%;
  }
}

.c-anchor-vertical {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 16px;
  position: relative;

  .c-anchor-content {
    flex: 1;
  }
}
