.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 100%;
  width: 100%;
  background: url('../../assets/images/background-home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .welcome-image {
    content: url('../../assets/images/home-welcome-illustration.png');
    width: 40%;
    margin-bottom: 16px;
  }

  span {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }

  .first-line {
    color: #1f49bf;
  }

  .second-line {
    color: #ba210e;
  }
}
