<sd-modal [title]="title" (sdClosed)="close.emit()" #modal>
  <div class="p-16" style="overflow: hidden; height: 100%">
    <div style="gap: 8px" class="image-gallery">
      <div class="thumbnail-container">
        @for (file of previewFiles; track $index; let i = $index) {
          <button
            type="button"
            class="thumbnail-wrapper"
            [class.c-img-error]="file.isImgError"
            (click)="onClickThumbnailImage(i)"
            [ngStyle]="{
              border: activeIndex === i ? '2px solid #2962ff' : 'none'
            }">
            @if(file.isImgError) {
              <img fill alt="thumbnail" class="thumbnail-img" />
            } @else if (file.isPreviewImage && (file.previewSrc || file.src)) {
              <img fill [src]="file.previewSrc || file.src" alt="thumbnail" class="thumbnail-img" />
            } @else {
              <img
                class="thumbnail-img file"
                [class]="{
                  png: file.extension === 'png',
                  jpg: file.extension === 'jpg',
                  pdf: file.extension === 'pdf',
                  doc: file.extension === 'doc',
                  docx: file.extension === 'docx',
                  xls: file.extension === 'xls',
                  xlsx: file.extension === 'xlsx',
                  ppt: file.extension === 'ppt',
                  pptx: file.extension === 'pptx',
                  csv: file.extension === 'csv',
                  psd: file.extension === 'psd',
                  xml: file.extension === 'xml',
                  zip: file.extension === 'zip'
                }"
                alt="thumbnail" />
            }
          </button>
        }
      </div>
      <div class="main-image-container" #mainImage>
        @let selectedFile = previewFiles[activeIndex];
        @if(selectedFile) {
          @if(selectedFile.isImgError) {
            <div class="c-img-error">
              <mat-icon>warning_amber</mat-icon>
              <div class="T14R">{{ 'core.component.upload-file.error-occurred' | translate }}</div>
            </div>
          } @else if (selectedFile.isPreviewImage && (selectedFile.previewSrc || selectedFile.src)) {
            <img fill priority [src]="selectedFile.previewSrc || selectedFile.src" class="main-image" alt="Main display image" />
          } @else {
            <img
              class="main-document file"
              [class]="{
                png: selectedFile.extension === 'png',
                jpg: selectedFile.extension === 'jpg',
                pdf: selectedFile.extension === 'pdf',
                doc: selectedFile.extension === 'doc',
                docx: selectedFile.extension === 'docx',
                xls: selectedFile.extension === 'xls',
                xlsx: selectedFile.extension === 'xlsx',
                ppt: selectedFile.extension === 'ppt',
                pptx: selectedFile.extension === 'pptx',
                csv: selectedFile.extension === 'csv',
                psd: selectedFile.extension === 'psd',
                xml: selectedFile.extension === 'xml',
                zip: selectedFile.extension === 'zip'
              }"
              alt="Main display image" />
              @if(selectedFile.fileName) {
                <div class="T14M">{{selectedFile.fileName}}</div>
              }
              <sd-button [title]="'core.component.upload-file.upload' | translate" (click)="onDownload(selectedFile)" type="fill" color="primary"></sd-button>
          }
        }
        <sd-button prefixIcon="arrow_forward_ios" class="next-icon" (click)="updateCurrentImage(1)"></sd-button>
        <sd-button prefixIcon="arrow_back_ios_new" class="back-icon" (click)="updateCurrentImage(-1)"></sd-button>
      </div>
    </div>
  </div>
</sd-modal>
