.c-table {
  position: relative;
  overflow: auto;
  table {
    width: 100%;
  }
  .c-th {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
}

.c-container {
  position: relative;
  min-height: 200px;
}
.c-handle {
  color: #ccc;
  cursor: move;
}
