<sd-modal
  [title]="'core.component.form-builder.config-validation-error-warning' | sdTranslate"
  view="dialog"
  width="800px"
  modalClass="sd-form-builder-dialog"
  #popupConfigureVariables>
  @for (validation of validations; track $index; let idx = $index) {
    <div class="mat-elevation-z2 position-relative p-8 mb-16" style="border-radius: 8px;">
      <div class="row mx-0">
        <sd-select
          class="col-3"
          [label]="'core.component.form-builder.message-type' | sdTranslate"
          [(model)]="validation.alert"
          [items]="alerts"
          valueField="value"
          displayField="display"
          required></sd-select>
        @if (validation.type === 'expression') {
          <sd-input class="col-9" [form]="form" [label]="'core.component.form-builder.message-display' | sdTranslate" [(model)]="validation.message" required></sd-input>
          <expression-builder class="col-12" [label]="'core.component.form-builder.condition-expression' | sdTranslate" [(model)]="validation.expression" [attributes]="attributes"></expression-builder>
        } @else if (validation.type === 'function') {
          <sd-select
            class="col-9"
            [form]="form"
            [(model)]="validation.code"
            [items]="functions"
            valueField="value"
            displayField="display"
            required></sd-select>
        }
        <sd-icon class="c-close-icon" (click)="removaValidation(idx)" name="delete"></sd-icon>
        <!-- <sd-button

          prefixIcon="delete"
          (click)="removaValidation(idx)"
          color="error"
          type="text"></sd-button> -->
      </div>
    </div>
  }
  <sd-button [title]="'core.component.form-builder.add-validation' | sdTranslate" [matMenuTriggerFor]="menu" prefixIcon="add" color="primary" type="text"></sd-button>
  <mat-menu #menu="matMenu" yPosition="above" panelClass="fb-validation-menu">
    <button (click)="addValidation('expression')" mat-menu-item type="button">
      <!-- <sd-icon fontIcon="warning"></sd-icon> -->
      <span>{{ 'core.component.form-builder.expression' | sdTranslate }}</span>
    </button>
    <button (click)="addValidation('function')" mat-menu-item type="button">
      <!-- <sd-icon fontIcon="error"></sd-icon> -->
      <span>{{ 'core.component.form-builder.available-methods' | sdTranslate }}</span>
    </button>
  </mat-menu>
  <ng-container sdFooterRight>
    <sd-button type="fill" [title]="'core.component.form-builder.save' | sdTranslate" (click)="updateValidations()" prefixIcon="save" color="primary"></sd-button>
  </ng-container>
</sd-modal>
