:host ::ng-deep {
  .mat-option-pseudo-checkbox.mat-pseudo-checkbox-disabled {
    display: none;
  }
  
}
.sl-media-wrap {
  width: calc(100% - 30px);
}

.sl-icon-view {
  font-size: 20px !important;
  &:hover {
    color: #333 !important;
  }
}

.text-ellipsis {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
