@if (register && schema) {
  @if (multiple) {
    <sd-autocomplete
      [name]="name"
      [form]="form"
      [label]="label"
      [placeholder]="placeholder"
      [model]="model"
      (modelChange)="onModelChange($event)"
      [items]="items"
      [valueField]="valueField"
      [displayField]="displayTransform ? 'displayTransform' : displayField"
      [required]="required"
      [disabled]="disabled"
      (sdChange)="onAutocompleteChange($event)"
      [actionIcon]="allowViewList && permission.list && 'search'"
      (action)="allowViewList && permission.list && onSearch()"
      [size]="size"
      [appearance]="appearance"
      [disableErrorMessage]="disableErrorMessage"
      [cacheChecksum]="cacheChecksum"
      [hiddenAdd]="!addable || !permission.create"
      (sdAdd)="onAddItem()">
      <ng-template sdLabelDef let-value="item">
        <ng-container *ngIf="label">
          <label class="d-block mb-0 T14M"
            >{{ label }} <span class="text-danger mb-2" *ngIf="required">*</span
            ><span *ngIf="model">(<a href="javascript:;" (click)="navigate()">chi tiết</a>)</span>
          </label>
        </ng-container>
      </ng-template>
      <ng-template sdAutocompleteDisplayDef let-value="item">
        <div *ngIf="value" class="w-100">
          <ng-container *ngIf="displayTransform; else noDisplayTransform">
            <div class="media w-100 align-items-center justify-content-between">
              <div class="media-body sl-media-wrap d-flex flex-column justify-content-center">
                <div class="T14M text-ellipsis">{{ value.displayTransform }}</div>
                <div class="d-flex">
                  <a href="javascript:;" (click)="navigateDetail($event, value)" class="T12R text-ellipsis d-inline-block w-auto">{{
                    value[valueField]
                  }}</a>
                </div>
              </div>
              <div *ngIf="viewable" class="ml-6">
                <mat-icon (click)="onViewDetail($event, value)" class="sl-icon-view pointer text-gray sd-suffix-icon mr-0" matSuffix
                  >visibility</mat-icon
                >
              </div>
            </div>
          </ng-container>
          <ng-template #noDisplayTransform>
            <div class="media align-items-center justify-content-between">
              <!-- TODO hardcode -->
              <div class="media-body sl-media-wrap d-flex flex-column justify-content-center">
                <div class="T14M text-ellipsis">{{ value[displayField] }}</div>
                <div class="d-flex">
                  <a href="javascript:;" (click)="navigateDetail($event, value)" class="T12R d-inline-block w-auto text-ellipsis">{{
                    value[valueField]
                  }}</a>
                </div>
              </div>
              <div class="ml-6">
                <mat-icon
                  *ngIf="allowViewDetail"
                  (click)="onViewDetail($event, value)"
                  class="sl-icon-view pointer sd-suffix-icon text-grey mr-0"
                  matSuffix
                  >visibility</mat-icon
                >
              </div>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </sd-autocomplete>
  } @else {
    <sd-select
      [form]="form"
      [name]="name"
      [label]="label"
      [placeholder]="placeholder"
      [model]="model"
      (modelChange)="onModelChange($event)"
      [items]="items"
      [valueField]="valueField"
      [displayField]="displayTransform ? 'displayTransform' : displayField"
      [required]="required"
      [disabled]="disabled"
      multiple
      (sdSelection)="onSelectChange($event)"
      [size]="size"
      [appearance]="appearance"
      [cacheChecksum]="cacheChecksum"
      [disableErrorMessage]="disableErrorMessage"
      [addable]="addable && permission.create"
      (sdAdd)="onAddItem()">
      <ng-template sdSelectDisplayDef let-value="item">
        <div *ngIf="value" class="w-100">
          <ng-container *ngIf="displayTransform; else noDisplayTransform">
            <div class="media align-items-center justify-content-between">
              <div class="media-body sl-media-wrap d-flex flex-column justify-content-center">
                <div class="T14M text-ellipsis">{{ value.displayTransform }}</div>
                <div class="flex" style="line-height: 1">
                  <a href="javascript:;" (click)="navigateDetail($event, value)" class="T12R text-ellipsis d-inline-block w-auto">{{
                    value[valueField]
                  }}</a>
                </div>
              </div>
              <div *ngIf="allowViewDetail && permission.detail" class="ml-6">
                <mat-icon (click)="onViewDetail($event, value)" class="sl-icon-view pointer text-grey sd-suffix-icon mr-0" matSuffix
                  >visibility</mat-icon
                >
              </div>
            </div>
          </ng-container>
          <ng-template #noDisplayTransform>
            <div class="media align-items-center justify-content-between">
              <div class="media-body sl-media-wrap d-flex flex-column justify-content-center">
                <div class="T14M text-ellipsis">{{ value[displayField] }}</div>
                <div class="d-flex" style="line-height: 1">
                  <a href="javascript:;" (click)="navigateDetail($event, value)" class="T12R text-ellipsis d-inline-block w-auto">{{
                    value[valueField]
                  }}</a>
                </div>
              </div>
              <div *ngIf="allowViewDetail" class="ml-6">
                <mat-icon (click)="onViewDetail($event, value)" class="sl-icon-view pointer text-grey sd-suffix-icon mr-0 ml-6" matSuffix
                  >visibility</mat-icon
                >
              </div>
            </div>
          </ng-template>
        </div>
      </ng-template>
      <mat-icon *ngIf="!disabled && allowViewList && permission.list" (click)="onSearch($event)" sdSuffixIcon>search</mat-icon>
    </sd-select>
  }

  <popup-select-item
    [multiple]="multiple"
    [module]="module"
    [typeCode]="typeCode"
    [title]="label || placeholder || typeCode"
    (select)="onPopupSelectChange($event)">
  </popup-select-item>
  <popup-detail (add)="onAdd($event)" (update)="onUpdate($event)"></popup-detail>
}
