<details class="fb-section" open>
  <summary class="fb-section__head">
    <span class="msi">info</span>
    <span class="fb-section__title">{{ 'core.component.form-builder.general' | translate }}</span>
    <span class="msi chev">chevron_right</span>
  </summary>
  <div class="fb-section__body">
  <attribute-template [component]="component" (sdChange)="onChangeTemplate($event)"></attribute-template>
  <attribute-input [form]="form" [label]="'core.component.form-builder.field-key' | translate" [(model)]="component.key" [disabled]="!!component.template"></attribute-input>
  <attribute-input [label]="'core.component.form-builder.label' | translate" [(model)]="component.label"></attribute-input>
  </div>
</details>
@if (!component.properties!.hidden && !component.properties!.viewed) {
  <details class="fb-section" open>
    <summary class="fb-section__head">
      <span class="msi">visibility</span>
      <span class="fb-section__title">{{ 'core.component.form-builder.display' | translate }}</span>
      <span class="msi chev">chevron_right</span>
    </summary>
    <div class="fb-section__body">
    <attribute-switch [label]="'core.component.form-builder.disabled' | translate" [(model)]="component.disabled"></attribute-switch>
    <attribute-expression
      [label]="'core.component.form-builder.visible-when' | translate"
      [components]="components()"
      [variables]="variables()"
      [(model)]="component.properties!.visibleWhenExpression"></attribute-expression>
    @if (!component.disabled) {
      <attribute-expression
        [label]="'core.component.form-builder.disabled-when' | translate"
        [components]="components()"
        [variables]="variables()"
        [(model)]="component.properties!.disabledWhenExpression"></attribute-expression>
    }
    </div>
  </details>
}
