@let item = field();
@if (viewed()) {
  <sd-view [label]="item.label || item.key" [display]="value() | componentViewed: item"></sd-view>
} @else {
  <sd-chip-calendar
    [form]="form()"
    [label]="item.label || item.key"
    [placeholder]="item.placeholder"
    [labelPlacement]="labelPlacement()"
    [name]="item.key"
    [autoId]="item.key"
    [model]="value()"
    (modelChange)="setValue($event)"
    [required]="required()"
    [max]="item.validation?.maxItems"
    [disabled]="disabled()"></sd-chip-calendar>
}
