.c-html {
  height: 70px;
  border: 1px solid var(--md-sys-color-outline-variant);
  padding: 10px;
  background-color: var(--sd-form-builder-html-bg, #f4f4f4);
  .material-icons {
    font-size: var(--sd-font-size-48, 48px);
  }
}
