@let _column = column();
@let _item = item();
@let _autoId = autoId();

@let view = _item.meta.display[_column.field];
@let _truncateEnable = truncateEnable();
@let _truncateWidth = truncateWidth();
@let isExpandByMore = isOverflowing() && _column?.cell?.truncate?.type === 'more';
@let isExpandByTooltip = isOverflowing() && _column?.cell?.truncate?.type === 'tooltip';

@if (view) {
  @if (view.isHtml) {
    @if (view.click) {
      <div
        #contentContainer
        [attr.data-autoId]="autoId()"
        (click)="view.click()"
        class="text-break cursor-pointer"
        [sdTooltip]="view.tooltip || (isExpandByTooltip ? htmlClickTooltip : '')"
        [style]="view.cellStyle"
        [style.max-width]="_truncateWidth"
        [class.c-ellipsis-html]="_truncateEnable"
        [innerHTML]="view.data | sdSafeHtml"
        aria-hidden="true"></div>

      <ng-template #htmlClickTooltip>
        <div
          class="c-tooltip-inner-content"
          [style.max-width]="'calc(' + _truncateWidth + ' * 1.5)'"
          style="max-height: 200px; overflow-y: auto; scrollbar-width: thin">
          <div [innerHTML]="view.data | sdSafeHtml"></div>
        </div>
      </ng-template>
    } @else {
      <!-- Nếu column có bật "giới hạn ký tự" -->
      @if (_truncateEnable) {
        <div
          #contentContainer
          [style.max-width]="_truncateWidth"
          [class.c-ellipsis-html]="isCollapsed()"
          [attr.data-autoId]="autoId()"
          class="text-break"
          [sdTooltip]="view.tooltip || (isExpandByTooltip ? htmlTooltip : '')"
          containerClass="c-tooltip-html-d374bd93-f136-425c-bcc2-2d88cb163e44"
          container="body"
          placement="bottom"
          [sdTooltipDelay]="100"
          [style]="view.cellStyle"
          [innerHTML]="view.data | sdSafeHtml"></div>

        <ng-template #htmlTooltip>
          <div
            class="c-tooltip-inner-content"
            [style.max-width]="'calc(' + _truncateWidth + ' * 1.5)'"
            style="max-height: 200px; overflow-y: auto; scrollbar-width: thin">
            <div [innerHTML]="view.data | sdSafeHtml"></div>
          </div>
        </ng-template>

        @if (isExpandByMore) {
          <button (click)="toggle()" class="c-collapse">{{ isCollapsed() ? ('core.component.form-builder.show-more' | translate) : ('core.component.form-builder.show-less' | translate) }}</button>
        }
      } @else {
        <div
          [attr.data-autoId]="autoId()"
          class="text-break"
          [sdTooltip]="view.tooltip || ''"
          [style]="view.cellStyle"
          [innerHTML]="view.data | sdSafeHtml"></div>
      }
      <!-- End -->
    }
  } @else {
    <!-- Nếu là giá trị lấy hiển thị lấy trực tiếp từ field -->
    @if (view.badge) {
      @if (view.data) {
        <sd-badge
          [attr.data-autoId]="autoId()"
          [type]="view.badge.type"
          [title]="view.data"
          [color]="view.badge.color"
          [icon]="view.badge.icon"
          [sdTooltip]="view.tooltip || ''"
          (click)="!!view.click && view.click()">
        </sd-badge>
      }
    } @else {
      @if (view.click) {
        <div
          #contentContainer
          class="text-break"
          [style]="view.cellStyle"
          [style.max-width]="_truncateWidth"
          [class.c-ellipsis]="_truncateEnable"
          [sdTooltip]="view.tooltip || (isExpandByTooltip ? view.data : '') | asString">
          <a [attr.data-autoId]="_autoId" href="javascript:;" (click)="view.click()">
            {{ view.data }}
          </a>
        </div>
      } @else {
        <!-- Nếu column có bật "giới hạn ký tự" -->
        @if (_truncateEnable) {
          <div
            #contentContainer
            [attr.data-autoId]="_autoId"
            class="text-break"
            [style]="view.cellStyle"
            [style.max-width]="_truncateWidth"
            [class.c-ellipsis]="isCollapsed()"
            [sdTooltip]="view.tooltip || (isExpandByTooltip ? view.data : '') | asString">
            {{ view.data }}
          </div>

          <!-- Nếu option xem full thông tin là "btn xem thêm" -->
          @if (isExpandByMore) {
            <button (click)="toggle()" class="c-collapse">{{ isCollapsed() ? ('core.component.form-builder.show-more' | translate) : ('core.component.form-builder.show-less' | translate) }}</button>
          }
        } @else {
          <div [attr.data-autoId]="_autoId" class="text-break" [style]="view.cellStyle" [sdTooltip]="view.tooltip || ''">
            {{ view.data }}
          </div>
        }
        <!-- End -->
      }
    }
  }
}
