@let btnType = type();
@let btnLoad = loading();
@let btnTitle = title();
@let pIcon = prefixIcon();
@let sIcon = suffixIcon();
@let fSet = fontSet();
@let hType = htmlType();

@if (btnType === 'fill') {
  <button
    mat-flat-button
    class="c-button c-fill"
    [type]="hType"
    [ngClass]="buttonClasses()"
    [disabled]="disabled()"
    [color]="color()"
    [attr.data-autoId]="autoId()"
    [attr.data-disabled]="disabled() ? 'true' : 'false'"
    [attr.data-loading]="loading() ? 'true' : 'false'"
    [style.width]="width()"
    [matTooltip]="tooltip() || ''"
    matTooltipPosition="above"
    (click)="onInternalClick($event)">
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </button>
} @else if (btnType === 'light') {
  <button
    mat-flat-button
    class="c-button c-light"
    [type]="hType"
    [ngClass]="buttonClasses()"
    [disabled]="disabled()"
    [color]="color()"
    [attr.data-autoId]="autoId()"
    [attr.data-disabled]="disabled() ? 'true' : 'false'"
    [attr.data-loading]="loading() ? 'true' : 'false'"
    [style.width]="width()"
    [matTooltip]="tooltip() || ''"
    matTooltipPosition="above"
    (click)="onInternalClick($event)">
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </button>
} @else if (btnType === 'outline') {
  <button
    mat-stroked-button
    class="c-button c-outline"
    [type]="hType"
    [ngClass]="buttonClasses()"
    [disabled]="disabled()"
    [color]="color()"
    [attr.data-autoId]="autoId()"
    [attr.data-disabled]="disabled() ? 'true' : 'false'"
    [attr.data-loading]="loading() ? 'true' : 'false'"
    [style.width]="width()"
    [matTooltip]="tooltip() || ''"
    matTooltipPosition="above"
    (click)="onInternalClick($event)">
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </button>
} @else if (btnType === 'link') {
  <button
    mat-button
    class="c-button c-link"
    [type]="hType"
    [ngClass]="buttonClasses()"
    [disabled]="disabled()"
    [color]="color()"
    [attr.data-autoId]="autoId()"
    [attr.data-disabled]="disabled() ? 'true' : 'false'"
    [attr.data-loading]="loading() ? 'true' : 'false'"
    [style.width]="width()"
    [matTooltip]="tooltip() || ''"
    matTooltipPosition="above"
    (click)="onInternalClick($event)">
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </button>
}

<ng-template #contentTpl>
  <div class="c-button-content-wrapper">
    @if (btnLoad) {
      <mat-spinner mode="indeterminate" diameter="18" strokeWidth="2" class="c-spinner"></mat-spinner>
    } @else if (pIcon) {
      <mat-icon [fontSet]="fSet" class="c-icon-prefix">{{ pIcon }}</mat-icon>
    }

    @if (btnTitle) {
      <span class="c-title" [class.ml-8]="btnLoad || pIcon" [class.mr-8]="sIcon && !btnLoad">
        {{ btnTitle }}
      </span>
    }

    @if (sIcon && !btnLoad) {
      <mat-icon [fontSet]="fSet" class="c-icon-suffix">{{ sIcon }}</mat-icon>
    }

    @if (!btnTitle && !pIcon && !btnLoad && sIcon) {
      <mat-icon [fontSet]="fSet">{{ sIcon }}</mat-icon>
    }
  </div>
</ng-template>
