@let _configuration = configuration();

<sd-modal width="sm" [title]="'core.component.table.setup' | translate" #modal>
  @if (_configuration) {
    <div class="c-container">
      <div class="c-table" style="max-height: 70vh">
        <table
          mat-table
          [dataSource]="_configuration.columns!"
          cdkDropList
          [cdkDropListData]="_configuration.columns"
          (cdkDropListDropped)="dropTable($event)">
          <ng-container matColumnDef="invisible">
            <th mat-header-cell class="c-th text-center px-4" *matHeaderCellDef style="width: 96px">
              {{ 'core.component.form-builder.display' | translate }}
            </th>
            <td class="text-center px-4" mat-cell *matCellDef="let item">
              <div class="d-flex" style="gap: 8px">
                <div class="c-handle" (mousedown)="handleMouseDown()" (mouseup)="handleMouseUp()">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                  </svg>
                </div>
                <sd-switch [model]="!item.invisible" (modelChange)="item.invisible = !item.invisible" />
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell class="c-th px-4" *matHeaderCellDef>
              {{ 'core.component.table.column-header' | translate }}
            </th>
            <td class="px-4" mat-cell *matCellDef="let item">
              <sd-input class="pb-4" [placeholder]="item?.origin?.title" [(model)]="item.title" hideInlineError></sd-input>
            </td>
          </ng-container>
          <ng-container matColumnDef="width">
            <th mat-header-cell class="c-th px-4" *matHeaderCellDef style="width: 80px">
              {{ 'core.component.table.width' | translate }}
            </th>
            <td class="px-4" mat-cell *matCellDef="let item">
              <sd-input class="pb-4" [placeholder]="item?.origin?.width" [(model)]="item.width" hideInlineError></sd-input>
            </td>
          </ng-container>
          <ng-container matColumnDef="fixed">
            <th mat-header-cell class="c-th text-center px-4" *matHeaderCellDef style="width: 80px">
              {{ 'core.component.table.fixed' | translate }}
            </th>
            <td class="text-center px-4" mat-cell *matCellDef="let item">
              <sd-switch [(model)]="item.fixed" />
            </td>
          </ng-container>

          <ng-container matColumnDef="truncate">
            <th mat-header-cell class="c-th text-center px-4" *matHeaderCellDef style="width: 100px">
              {{ 'core.component.table.char-limit' | translate }}
            </th>
            <td class="text-center px-4" mat-cell *matCellDef="let item">
              <sd-switch [(model)]="item.truncate" />
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['invisible', 'title', 'width', 'fixed', 'truncate']; sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['invisible', 'title', 'width', 'fixed', 'truncate']"
            cdkDrag
            [cdkDragData]="row"
            cdkDragLockAxis="y"
            [cdkDragDisabled]="dragDisabled">
          </tr>
        </table>
      </div>
    </div>
  }
  <ng-container sdFooter>
    <sd-button [autoId]="autoId() ? autoId() + '-config-skip' : null" class="mr-8" (click)="close()" [title]="'core.component.table.skip' | translate" color="secondary"> </sd-button>
    <sd-button [autoId]="autoId() ? autoId() + '-config-reset' : null" class="mr-8" (click)="onReset()" [title]="'core.component.form-builder.default' | translate" color="primary"> </sd-button>
    <sd-button [autoId]="autoId() ? autoId() + '-config-apply' : null" (click)="onSave()" [title]="'core.component.table.apply' | translate" type="fill" color="primary"> </sd-button>
  </ng-container>
</sd-modal>
