@let filteredCommands = item | commandFilter: commands | async;
@if (filteredCommands?.length) {
  @for (command of filteredCommands; track command.key) {
    @if (command.type === 'normal') {
      <button
        [attr.data-autoId]="autoId + command.key + '-' + (itemKey || itemIndex)"
        (click)="command.click(item.data)"
        [matTooltip]="command | commandTitle: item"
        aria-hidden="true"
        [disabled]="item | commandDisable: command"
        mat-icon-button>
        <mat-icon class="c-icon" [color]="command.color || 'secondary'" [fontSet]="command.fontSet!">{{ command.icon }}</mat-icon>
      </button>
    } @else {
      <button [attr.data-autoId]="autoId + command.key + '-' + (itemKey || itemIndex)" [matMenuTriggerFor]="menu" aria-hidden="true" mat-icon-button>
        @if (command.icon) {
          <mat-icon class="c-icon" [fontSet]="command.fontSet!">{{ command.icon }} </mat-icon>
        } @else {
          <mat-icon class="c-icon">more_vert</mat-icon>
        }
      </button>
      <mat-menu #menu="matMenu">
        <span>
          @for (childCommand of command.children; track childCommand.key) {
            <button
              [attr.data-autoId]="autoId + childCommand.key + '-' + (itemKey || itemIndex)"
              mat-menu-item
              (click)="childCommand.click(item.data)"
              [disabled]="item | commandDisable: childCommand">
              @if (!childCommand.htmlTemplate) {
                <div>
                  <mat-icon [color]="childCommand.color || 'secondary'" [fontSet]="command.fontSet!">{{ childCommand.icon }} </mat-icon>
                  <span> {{ childCommand.title }}</span>
                </div>
              } @else {
                <div [innerHTML]="childCommand.htmlTemplate(item.data)"></div>
              }
            </button>
          }
        </span>
      </mat-menu>
    }
  }
}
