@use 'sass:map';

$system-colors: 
'primary',
'primary-light',
'primary-dark',
'info',
'info-light',
'info-dark',
'success',
'success-light',
'success-dark',
'warning',
'warning-light',
'warning-dark', 
'error',
'error-light',
'error-dark',
'secondary',
'secondary-light',
'secondary-dark', 
'light',
'dark',
'black500',
'black400',
'black300',
'black200',
'black100';

@function create_var_map($colors) {
  $var-map: ();
  @each $color in $colors {
    $var-name: $color;
    $var-value: var(--sd-#{$var-name});
    $var-map: map.merge($var-map, ($color: $var-value));
  }
  @return $var-map;
}


$color_map: create_var_map($system-colors);
$basic_color_map: (
  'white': #FFF,
  'black': #000,
);

$disabled-bg: map.get($color-map, 'black100');
$disabled-text: map.get($color-map, 'black400');

@each $color, $value in map.merge($color_map, $basic_color_map) {
  // Text
  .text-#{$color} {
    color: $value !important;
  }
  // Background
  .bg-#{$color} {
    background: $value !important;
  }
  // Border
  .border-#{$color} {
    border-color: $value !important;
  }
}
// $colorLights: $primary-light, $secondary-light, $info-light, $success-light, $warning-light, $error-light;
// @each $color in $colorLights {
//   // Text
//   .text-#{$color} {
//     color: $color;
//   }
//   // Background
//   .bg-#{$color} {
//     background: $color;
//   }
// }