.tab-router__nav {
  background: #f9f9f9;
  overflow: hidden;
}

.tab-router__nav--compact::ng-deep {
  .tab-router__name {
    display: none;
  }
  .tab-router__icon {
    margin: 0 !important;
  }

  .tab-router__item--active {
    min-width: 240px;

    .tab-router__icon {
      margin-right: 8px !important;
    }

    .tab-router__name {
      display: -webkit-box;
    }
  }
}
