<a class="T12R" href="javascript:;" (click)="edit()">{{model || '--'}}</a>
@if (expression) {
<sd-modal [title]="'core.component.form-builder.set-expression' | sdTranslate" modalClass="sd-form-builder-dialog">
  <div class="c-builder">
    <div class="d-flex justify-content-end">
      <sd-button prefixIcon="calculate" class="mr-4" [title]="'core.component.form-builder.condition-group' | sdTranslate" color="primary" (click)="addCombinator(expression.conditions)"></sd-button>
      <sd-button prefixIcon="add" [title]="'core.component.form-builder.condition' | sdTranslate" color="primary" (click)="addCondition(expression.conditions)" type="fill"></sd-button>
    </div>
    <!-- Cấp 1 -->
    @for (conditionLv1 of expression.conditions; track conditionLv1.key; let idxLv1 = $index) {
      <div class="d-flex align-items-end py-8" style="gap: 8px;">
        <div class="c-condition">
          <!-- Dòng 1 chỉ hiện WHERE -->
          @if (idxLv1 === 0) {
            <div class="c-where">WHERE</div>
          }
          <!-- Dòng 2 hiển thị combinator -->
          @if (idxLv1 === 1) {
            <div class="c-select">
              <sd-select
                size="sm"
                [(model)]="expression.combinator"
                [items]="[
                  { value: '&&', display: 'AND' },
                  { value: '||', display: 'OR' }
                ]"
                valueField="value"
                displayField="display"
                required
                hideInlineError=""></sd-select>
            </div>
          }
        </div>
        @if (conditionLv1.type === 'condition') {
            <sd-autocomplete size="sm" [form]="form" style="width: 200px;" [(model)]="conditionLv1.field" [items]="attributes" valueField="value" displayField="display" required hideInlineError></sd-autocomplete>
            @let fieldAttribute = attribute[conditionLv1.field!];
            <sd-select size="sm" [form]="form" style="width: 100px;" [(model)]="conditionLv1.operator" [items]="attributeOperators[fieldAttribute?.type || 'string']" valueField="value" displayField="display" [disabled]="!fieldAttribute?.type" required hideInlineError></sd-select>
            @if(!!fieldAttribute?.type && conditionLv1.operator && conditionLv1.operator !== 'NULL' && conditionLv1.operator !== 'NOT_NULL') {
              @if(fieldAttribute.type === 'string') {
                <sd-input size="sm" [form]="form" style="flex:1" [(model)]="conditionLv1.value" required hideInlineError></sd-input>
              } @else if(fieldAttribute.type === 'number') {
                <sd-input-number size="sm" [form]="form" style="flex:1" [(model)]="conditionLv1.value" required hideInlineError></sd-input-number>
              } @else if(fieldAttribute.type === 'boolean') {
                <sd-select size="sm" [form]="form" style="flex:1" [(model)]="conditionLv1.value" [items]="[{value: true, display: fieldAttribute.displayOnTrue}, {value: false, display: fieldAttribute.displayOnFalse}]" valueField="value" displayField="display" required hideInlineError></sd-select>
              }@else if(fieldAttribute.type === 'values') {
                <sd-autocomplete size="sm" [form]="form" style="flex:1" [(model)]="conditionLv1.value" [items]="fieldAttribute.values" valueField="value" displayField="display" required hideInlineError></sd-autocomplete>
              }
            }
            <sd-button
              class="ml-auto"
              prefixIcon="delete"
              [tooltip]="'core.component.form-builder.delete' | sdTranslate"
              (click)="remove(expression.conditions, idxLv1)"></sd-button>

        } @else if (conditionLv1.type === 'combinator') {
          <div class="c-builder">
            <div class="d-flex justify-content-end">
              <sd-button
                class="mr-4"
                prefixIcon="delete"
                [tooltip]="'core.component.form-builder.delete' | sdTranslate"
                (click)="remove(expression.conditions, idxLv1)"></sd-button>
              <sd-button prefixIcon="add" [title]="'core.component.form-builder.condition' | sdTranslate" size="sm" color="primary" (click)="addCondition(conditionLv1.conditions)" type="fill"></sd-button>
            </div>
            <!-- Cấp 2 -->
            @for (conditionLv2 of conditionLv1.conditions; track conditionLv2.key; let idxLv2 = $index) {
              <div class="d-flex align-items-end py-8" style="gap: 8px;">
                <div class="c-condition">
                  <!-- Dòng 1 chỉ hiện WHERE -->
                  @if (idxLv2 === 0) {
                    <div class="c-where">WHERE</div>
                  }
                  <!-- Dòng 2 hiển thị combinator -->
                  @if (idxLv2 === 1) {
                    <div class="c-select">
                      <sd-select
                        size="sm"
                        [(model)]="conditionLv1.combinator"
                        [items]="[
                          { value: '&&', display: 'AND' },
                          { value: '||', display: 'OR' }
                        ]"
                        valueField="value"
                        displayField="display"
                        required
                        hideInlineError=""></sd-select>
                    </div>
                  }
                </div>
                @if (conditionLv2.type === 'condition') {
                    <sd-autocomplete size="sm" [form]="form" style="width: 200px;" [(model)]="conditionLv2.field" [items]="attributes" valueField="value" displayField="display" required hideInlineError></sd-autocomplete>
                    @let fieldAttribute = attribute[conditionLv2.field!];
                    <sd-select size="sm" [form]="form" style="width: 100px;" [(model)]="conditionLv2.operator" [items]="attributeOperators[fieldAttribute?.type || 'string']" valueField="value" displayField="display" [disabled]="!fieldAttribute?.type" required hideInlineError></sd-select>
                    @if(!!fieldAttribute?.type && conditionLv2.operator && conditionLv2.operator !== 'NULL' && conditionLv2.operator !== 'NOT_NULL') {
                      @if(fieldAttribute.type === 'string') {
                        <sd-input size="sm" [form]="form" style="flex:1" [(model)]="conditionLv2.value" required hideInlineError></sd-input>
                      } @else if(fieldAttribute.type === 'number') {
                        <sd-input-number size="sm" [form]="form" style="flex:1" [(model)]="conditionLv2.value" required hideInlineError></sd-input-number>
                      } @else if(fieldAttribute.type === 'boolean') {
                        <sd-select size="sm" [form]="form" style="flex:1" [(model)]="conditionLv2.value" [items]="[{value: true, display: fieldAttribute.displayOnTrue}, {value: false, display: fieldAttribute.displayOnFalse}]" valueField="value" displayField="display" required hideInlineError></sd-select>
                      }@else if(fieldAttribute.type === 'values') {
                        <sd-autocomplete size="sm" [form]="form" style="flex:1" [(model)]="conditionLv2.value" [items]="fieldAttribute.values" valueField="value" displayField="display" required hideInlineError></sd-autocomplete>
                      }
                    }
                    <sd-button
                      class="ml-auto"
                      prefixIcon="delete"
                      [tooltip]="'core.component.form-builder.delete' | sdTranslate"
                      (click)="remove(conditionLv1.conditions, idxLv1)"></sd-button>

                }
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
  <sd-button sdFooterRight prefixIcon="check" [title]="'core.component.form-builder.confirm' | sdTranslate" (click)="onAccept()" color="primary" type="fill"></sd-button>
</sd-modal>
}
