@if (!filter?.disabled) {
  @if (!isMobileOrTablet && externalFilters.length) {
    <sd-section [hideHeader]="filter?.hideExternalFilterToolbar" icon="filter_alt" iconColor="secondary" title="Bộ lọc" collapsable>
      <div class="d-flex mr-4" sdHeaderRight>
        <sd-button
          [autoId]="autoId + 'clearFilter'"
          [disabled]="!filtered"
          type="link"
          prefixIcon="cleaning_services"
          tooltip="Xóa lựa chọn"
          (click)="$event.stopPropagation(); clearFilter($event)"></sd-button>
        <sd-button
          [autoId]="autoId + 'setting'"
          type="link"
          prefixIcon="settings"
          tooltip="Tùy chỉnh"
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation()"></sd-button>
        <mat-menu #menu="matMenu" class="sd-custom-panel-filter-configuration">
          @for (externalFilter of externalFilters; track externalFilter.field) {
            <button mat-menu-item (click)="onCheckboxChange($event, externalFilter)" [disabled]="externalFilter.required">
              <sd-checkbox
                [label]="externalFilter.title"
                [model]="inlineExternal[externalFilter.field]"
                [disabled]="externalFilter.required" />
            </button>
          }
        </mat-menu>
      </div>
      <div class="row mx-0" style="row-gap: 16px">
        @for (item of externalFilters; track item.field) {
          @if (inlineExternal[item.field]) {
            <div class="col-md-3 col-sm-6 px-8" [class.col-lg-2]="col === 2" [class.col-lg-3]="col === 3">
              @if (item.type === 'string') {
                <sd-input
                  [autoId]="autoId + item.field"
                  [label]="item.title"
                  type="text"
                  [(model)]="externalFilter![item.field]"
                  (keyupEnter)="onKeyupEnter()"
                  appearance="outline"
                  [form]="form"
                  [required]="item.required"
                  hideInlineError>
                </sd-input>
              } @else if (item.type === 'number') {
                <sd-input-number
                  [autoId]="autoId + item.field"
                  [label]="item.title"
                  [(model)]="externalFilter![item.field]"
                  (keyupEnter)="onKeyupEnter()"
                  appearance="outline"
                  [form]="form"
                  [required]="item.required"
                  hideInlineError>
                </sd-input-number>
              } @else if (item.type === 'boolean') {
                <sd-select
                  [autoId]="autoId + item.field"
                  [label]="item.title"
                  [items]="[
                    { value: true, display: item.option?.displayOnTrue || 'True' },
                    { value: false, display: item.option?.displayOnFalse || 'False' }
                  ]"
                  valueField="value"
                  displayField="display"
                  [(model)]="externalFilter![item.field]"
                  (sdChange)="onFilter(item)"
                  appearance="outline"
                  [form]="form"
                  [required]="item.required"
                  hideInlineError>
                </sd-select>
              } @else if (item.type === 'date') {
                <sd-date
                  [autoId]="autoId + item.field"
                  [label]="item.title"
                  [(model)]="externalFilter![item.field]"
                  (sdChange)="onFilter(item)"
                  appearance="outline"
                  [form]="form"
                  [required]="item.required"
                  [min]="item.minDate"
                  [max]="item.maxDate"
                  hideInlineError>
                </sd-date>
              } @else if (item.type === 'datetime') {
                <sd-datetime
                  [autoId]="autoId + item.field"
                  [label]="item.title"
                  [(model)]="externalFilter![item.field]"
                  (sdChange)="onFilter(item)"
                  appearance="outline"
                  [form]="form"
                  [required]="item.required"
                  [min]="item.minDate"
                  [max]="item.maxDate"
                  hideInlineError>
                </sd-datetime>
              } @else if (item.type === 'daterange') {
                <sd-date-range
                  [autoId]="autoId + item.field"
                  [label]="item.title"
                  [(model)]="externalFilter![item.field]"
                  (sdChange)="onFilter(item)"
                  [form]="form"
                  [required]="item.required"
                  [min]="item.minDate"
                  [max]="item.maxDate"
                  appearance="outline"
                  hideInlineError>
                </sd-date-range>
              } @else if (item.type === 'values') {
                @if (item.option.selection === 'MULTIPLE') {
                  <sd-select
                    [autoId]="autoId + item.field"
                    [label]="item.title"
                    [items]="item.option.items | filterValues | async"
                    [valueField]="item.option.valueField"
                    [displayField]="item.option.displayField"
                    [(model)]="externalFilter![item.field]"
                    (sdChange)="onFilter(item)"
                    appearance="outline"
                    multiple
                    [form]="form"
                    [required]="item.required"
                    hideInlineError>
                  </sd-select>
                } @else if (item.option.selection === 'AUTOCOMPLETE') {
                  <sd-select
                    [autoId]="autoId + item.field"
                    [label]="item.title"
                    [items]="item.option.items | filterValues | async"
                    [valueField]="item.option.valueField"
                    [displayField]="item.option.displayField"
                    [(model)]="externalFilter![item.field]"
                    (sdChange)="onFilter(item)"
                    appearance="outline"
                    [form]="form"
                    [required]="item.required"
                    hideInlineError>
                  </sd-select>
                } @else if (item.option.selection === 'MULTIPLEAUTOCOMPLETE') {
                  <sd-select
                    [autoId]="autoId + item.field"
                    [label]="item.title"
                    [items]="item.option.items | filterValues | async"
                    [valueField]="item.option.valueField"
                    [displayField]="item.option.displayField"
                    [(model)]="externalFilter![item.field]"
                    (sdChange)="onFilter(item)"
                    appearance="outline"
                    multiple
                    [form]="form"
                    [required]="item.required"
                    hideInlineError>
                  </sd-select>
                } @else {
                  <sd-select
                    [autoId]="autoId + item.field"
                    [label]="item.title"
                    [items]="item.option.items | filterValues | async"
                    [valueField]="item.option.valueField"
                    [displayField]="item.option.displayField"
                    [(model)]="externalFilter![item.field]"
                    (sdChange)="onFilter(item)"
                    appearance="outline"
                    [form]="form"
                    [required]="item.required"
                    hideInlineError>
                  </sd-select>
                }
              } @else if (item.type === 'lazy-values') {
                @if (item.option.selection === 'MULTIPLE') {
                  <sd-select
                    [autoId]="autoId + item.field"
                    [label]="item.title"
                    [items]="item.option.items"
                    [valueField]="item.option.valueField"
                    [displayField]="item.option.displayField"
                    [(model)]="externalFilter![item.field]"
                    (sdChange)="onFilter(item)"
                    appearance="outline"
                    multiple
                    [form]="form"
                    [required]="item.required"
                    hideInlineError>
                  </sd-select>
                } @else {
                  <sd-select
                    [autoId]="autoId + item.field"
                    [label]="item.title"
                    [items]="item.option.items"
                    [valueField]="item.option.valueField"
                    [displayField]="item.option.displayField"
                    [(model)]="externalFilter![item.field]"
                    (sdChange)="onFilter(item)"
                    appearance="outline"
                    [form]="form"
                    [required]="item.required"
                    hideInlineError>
                  </sd-select>
                }
              } @else if (item.type === 'custom' && item.filterDef) {
                <ng-container
                  *ngTemplateOutlet="
                    item.filterDef;
                    context: { form: form, externalFilter: externalFilter, autoId: autoId + item.field }
                  "></ng-container>
              }
            </div>
          }
        }
      </div>
      @if (filter?.manualFilter) {
        <div class="d-flex justify-content-end mt-16 px-8">
          <sd-button
            [autoId]="autoId + 'onSubmit'"
            [disabled]="form.invalid"
            type="fill"
            color="primary"
            title="Tìm kiếm"
            prefixIcon="filter_alt"
            (click)="onSubmit()">
          </sd-button>
        </div>
      }
    </sd-section>
  }
  <!-- <sd-popup-filter [filterRegister]="filterRegister!" [columns]="columns" [externalFilters]="externalFilters">
  </sd-popup-filter> -->
}
