@if (type === 'horizontal') {
  <div class="c-anchor-horizontal">
    <sd-horizontal-anchor-list [sections]="sections" (sdOnClickSectionItem)="handleClickSectionItem($event)"></sd-horizontal-anchor-list>
    <div class="c-anchor-content" #scrollContainer>
      <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    </div>
  </div>
} @else {
  <div class="c-anchor-vertical">
    <div class="c-anchor-content">
      <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    </div>
    <div
      class="c-anchor-list"
      [style.width]="width"
      >
      <sd-vertical-anchor-list
        [sections]="sections"
        (sdOnClickSectionItem)="handleClickSectionItem($event)"
        [width]="width"
        [ellipsis]="ellipsis"></sd-vertical-anchor-list>
    </div>
  </div>
}
<ng-template #tempOutlet>
  <ng-content></ng-content>
</ng-template>
