.c-input {
  width: 100%;
  background: var(--sd-form-builder-control-bg, #ffffff);
  height: 30px;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: var(--sd-radius-4, 4px);
  position: relative;
}

.c-select {
  svg {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
