@let _column = column();
@let _item = item();
@let _autoId = autoId();

@let _truncateEnable = truncateEnable();
@let _truncateWidth = truncateWidth();
@let isExpandByMore = isOverflowing() && _column?.cell?.truncate?.type === 'more';
@let isExpandByTooltip = isOverflowing() && _column?.cell?.truncate?.type === 'tooltip';

@let _templateRef = templateRef();
@let context =
  {
    item: _item.data,
    column: _column,
    autoId: _autoId,
  };

@if (_templateRef) {
  <!-- Nếu column có bật "giới hạn ký tự" -->
  @if (_truncateEnable) {
    <div
      #contentContainer
      [style.max-width]="_truncateWidth"
      [class.c-ellipsis-html]="isCollapsed()"
      [sdTooltip]="isExpandByTooltip ? htmlTooltip : ''">
      <ng-container *ngTemplateOutlet="_templateRef; context: context" />
    </div>

    <!-- Nếu option xem full thông tin là "tooltip" -->
    <ng-template #htmlTooltip>
      <div
        [style.max-width]="'calc(' + _truncateWidth + ' * 1.5)'"
        style="max-height: 200px; overflow-y: auto; scrollbar-width: thin">
        <ng-container *ngTemplateOutlet="_templateRef; context: context" />
      </div>
    </ng-template>

    <!-- Nếu option xem full thông tin là "btn xem thêm" -->
    @if (isExpandByMore) {
      <button (click)="toggle()" class="c-collapse">
        {{ isCollapsed() ? ('core.component.form-builder.show-more' | sdTranslate) : ('core.component.form-builder.show-less' | sdTranslate) }}
      </button>
    }
  } @else {
    <ng-container *ngTemplateOutlet="_templateRef; context: context" />
  }
} @else {
  <view [column]="column()" [item]="item()" [autoId]="context.autoId" />
}
