@let _userInfo = userInfo();
<sd-page>
  <div class="d-flex flex-column" headerLeft>
    <div class="font-weight-medium fs-20">Xin chào, {{ _userInfo?.fullName || _userInfo?.email || _userInfo?.username }}</div>
    <span class="T12R text-secondary">{{ todayInfo() }}</span>
  </div>

  <div class="wrapper">
    <img alt="welcome-photo" class="welcome-image" />
    <span class="first-line">Chúc bạn một ngày làm việc</span>
    <span class="second-line">tràn đầy năng lượng & hiệu quả!</span>
  </div>
</sd-page>
