<sd-ckeditor-styles />
@let _label = label();
@let _helperText = helperText();
@let _hideInlineError = hideInlineError();
@let _errorMessage = errorMessage;
@let _required = required();
@let _maxLength = maxlength();
@let _showCounter = !!_maxLength && !formControl.disabled && !_hideInlineError;

@if (_label) {
  <sd-label [label]="_label" [required]="_required" [helperText]="_helperText"></sd-label>
}

<div
  class="sd-editor"
  [class.sd-editor--readonly]="readonly()"
  [class.sd-editor--error]="formControl.invalid && formControl.touched"
  [class.has-counter]="_showCounter"
  [style.--sd-editor-content-min-height]="height()"
  [style.--sd-editor-content-max-height]="maxHeight()"
  [attr.data-autoId]="autoId()"
  [attr.data-disabled]="dataDisabled()"
  [attr.data-empty]="dataEmpty()">
  <ckeditor [editor]="Editor" [config]="editorConfig()" [disabled]="formControl.disabled" (ready)="onReady($event)"></ckeditor>

  @if (_showCounter) {
    <div class="sd-editor-counter-row">
      <span class="sd-editor-counter" [class.sd-editor-counter--over]="isOverLimit()"> {{ _textLength() }}/{{ _maxLength }} </span>
    </div>
  }

  @if (_hideInlineError && _errorMessage && formControl.touched) {
    <mat-icon class="sd-error-icon" [matTooltip]="_errorMessage" matTooltipPosition="above">error</mat-icon>
  }
</div>

<div class="sd-editor-footer">
  @if (!_hideInlineError && _errorMessage && formControl.touched) {
    <mat-error>{{ _errorMessage }}</mat-error>
  }
</div>
