@let item = field();
@if (subtype() === 'date') {
  <sd-date
    [form]="form()"
    [label]="item.label || item.key"
    [helperText]="item.helperText"
    [placeholder]="item.placeholder"
    [labelPlacement]="labelPlacement()"
    [name]="item.key"
    [autoId]="item.key"
    [model]="value()"
    (modelChange)="setValue($event)"
    [required]="required()"
    [min]="min()"
    [max]="max()"
    [disabled]="disabled()"
    [viewed]="viewed()"></sd-date>
} @else {
  <sd-datetime
    [form]="form()"
    [label]="item.label || item.key"
    [helperText]="item.helperText"
    [placeholder]="item.placeholder"
    [labelPlacement]="labelPlacement()"
    [name]="item.key"
    [autoId]="item.key"
    [model]="value()"
    (modelChange)="setValue($event)"
    [required]="required()"
    [min]="min()"
    [max]="max()"
    [disabled]="disabled()"
    [viewed]="viewed()"></sd-datetime>
}
