// --------------------------------------------------------------------------
// Vertical-align
// --------------------------------------------------------------------------
.align-middle   { vertical-align: middle !important; }
.align-top      { vertical-align: top !important; }
.align-bottom   { vertical-align: bottom !important; }
.align-baseline { vertical-align: baseline !important; }

// --------------------------------------------------------------------------
// Cursor
// --------------------------------------------------------------------------
.cursor-pointer     { cursor: pointer !important; }
.cursor-default     { cursor: default !important; }
.cursor-not-allowed { cursor: not-allowed !important; }

// --------------------------------------------------------------------------
// Visibility
// --------------------------------------------------------------------------
.visible   { visibility: visible !important; }
.invisible { visibility: hidden !important; }
