$a4-width: 210mm;
$a4-height-px: 1123px;
$gap-height: 30px;

.builder-container {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host {
  display: inline-block;
}

:host ::ng-deep {
  .ck-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    --ck-content-font-family: 'Times New Roman', serif !important;

    --ck-content-font-size: 13pt;

    --ck-content-line-height: 1.15;
  }

  .ck-editor__top,
  .ck-editor__main {
    border: none !important;
    box-shadow: none !important;
  }

  /* --- TOOLBAR (NỔI & STICKY) --- */
  .ck-editor__top {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    min-width: 600px;
    margin-bottom: 10px; /* Tách biệt toolbar và giấy */

    .ck-sticky-panel__content {
      border: none !important;
    }

    .ck-toolbar {
      background: white !important;
      box-shadow: none !important;
      border-radius: 8px;
      padding: 8px !important;
      .ck-toolbar__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }

  .ck-content {
    /* Style Giấy A4 */
    background-color: white;
    width: $a4-width;
    min-height: $a4-height-px;
    padding: 20mm !important;
    box-sizing: border-box !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 400;
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 4px;
    }

    &.landscape {
      width: 297mm;
    }

    /* 1. Ép mọi phần tử con không được rộng hơn khổ giấy */
    & > * {
      max-width: 100% !important;
      box-sizing: border-box !important;
    }

    /* 3. Xử lý MARGIN/INDENT (Word hay có margin âm hoặc indent quá lớn) */
    p {
      margin-bottom: 4px;

      /* Chỉ cho phép indent dương, tránh margin âm (text-indent âm thường làm mất chữ đầu dòng) */
      text-indent: 0;
    }

    /* 4. Xử lý LIST (Danh sách) */
    ul,
    ol {
      padding-left: 20px !important; /* Đặt lại padding chuẩn cho list */
      margin-left: 0 !important;
      margin-bottom: 4px;
    }

    li {
      margin-bottom: 0;
    }

    table {
      margin-bottom: 4px;
    }
  }
}
