<sd-button type="fill" color="primary" title="Material filled" (click)="useFontSet('material-icons')"></sd-button>
<sd-button type="fill" color="secondary" title="Material outlined" (click)="useFontSet('material-icons-outlined')"></sd-button>
<sd-button type="fill" color="info" title="Lucide" (click)="useFontSet('lucide')"></sd-button>
<sd-button type="light" color="primary" title="Create" prefixIcon="add" [fontSet]="fontSet()"></sd-button>
<sd-button type="light" color="primary" title="View" prefixIcon="visibility" [fontSet]="fontSet()"></sd-button>
<sd-button type="light" color="error" title="Delete" prefixIcon="delete" [fontSet]="fontSet()"></sd-button>
<sd-button type="outline" color="secondary" title="More" suffixIcon="more_vert" [fontSet]="fontSet()"></sd-button>
