@let _userInfo = userInfo();
<sd-page>
  <div class="d-flex flex-column" headerLeft>
    <div class="font-weight-medium fs-20">Xin chào, {{ _userInfo?.fullName || _userInfo?.email || _userInfo?.username }}</div>
    <span class="T12R text-secondary">{{ todayInfo() }}</span>
  </div>
  <div class="h-full d-flex flex-column align-items-center">
    <div class="h-full d-flex flex-column align-items-center justify-content-center text-center wrapper">
      <img alt="error-image" class="error-image" />
      <span class="T16M mt-24">Không được phép truy cập</span>
      <span class="T14R text-secondary mt-4"
        >Bạn không có quyền truy cập vào trang này. Liên hệ với quản trị viên hoặc quay lại trang chủ</span
      >
      <sd-button class="mt-16" type="fill" color="primary" (click)="reload()" title="Quay lại trang chủ"> </sd-button>
    </div>
  </div>
</sd-page>
