@if (!component.properties!.hidden) {
  <sd-section class="mt-8" title="Thông tin chung" icon="info">
    <attribute-select
      label="Dữ liệu mẫu"
      [(model)]="component.template"
      [items]="definitionHtmls"
      (sdChange)="onChangeDefinition($event)"></attribute-select>
    <attribute-input [form]="form" label="Trường dữ liệu" [(model)]="component.key"></attribute-input>
    <attribute-textarea [form]="form" label="Nội dung" [(model)]="component.content"></attribute-textarea>
    @if (component.properties?.queries?.length) {
      <build-queries
        label="Điều kiện truy vấn"
        [queries]="component.properties?.queries"
        [components]="components"
        [variables]="variables" 
        [(model)]="component.properties!.query"></build-queries>
    }
  </sd-section>
  @if (component.properties?.variables?.length) {
    <sd-section class="mt-8" title="Tham số" icon="format_list_bulleted">
      @for (variable of component.properties?.variables; track variable.key) {
        <attribute-input [form]="form" [label]="variable.label" [(model)]="variable.value"></attribute-input>
      }
    </sd-section>
  }
  <sd-section class="mt-8" title="Hiển thị" icon="visibility">
    <attribute-expression
      label="Hiển thị khi"
      [components]="components"
      [variables]="variables"
      [(model)]="component.properties!.visibleWhenExpression"></attribute-expression>
    <attribute-expression
      label="Ẩn khi"
      [components]="components"
      [variables]="variables"
      [(model)]="component.properties!.hiddenWhenExpression"></attribute-expression>
  </sd-section>
}
