@if (component.properties?.viewed) {
  <div class="d-block T12R text-secondary">
    {{ component.label }}
  </div>
  <div class="T14M">One, Two, Three</div>
} @else {
  <div class="d-block mb-0 T14M">
    {{ component.label }}
    @if (component.validate?.required) {
      <span class="text-error mb-2">*</span>
    }
  </div>
  <div class="d-flex align-items-center">
    <div class="c-input">
      <span class="c-chip">One</span>
      <span class="c-chip">Two</span>
      <span class="c-chip">Three</span>
    </div>
  </div>
}
