.c-input {
  width: 100%;
  background: #fff;
  height: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  position: relative;
}
.c-chip {
  display: inline-block;
  padding: 2px 8px;
  background: #e0e0e0;
  border-radius: 16px;
  font-size: 13px;
  line-height: 20px;
  margin: 2px;
}