.c-input {
  width: 100%;
  background: #fff;
  height: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  position: relative;
}

.c-select {
  svg {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
