<sd-section class="mt-8" title="Thông tin chung" icon="info">
  <attribute-template [component]="component" (sdChange)="onChangeTemplate($event)"></attribute-template>
  <attribute-input [form]="form" label="Trường dữ liệu" [(model)]="component.key" [disabled]="!!component.template"></attribute-input>
  <attribute-input label="Tên hiển thị" [(model)]="component.label"></attribute-input>
</sd-section>
@if (!component.properties!.hidden && !component.properties!.viewed) {
  <sd-section class="mt-8" title="Hiển thị" icon="visibility">
    <attribute-switch label="Vô hiệu" [(model)]="component.disabled"></attribute-switch>
    <attribute-expression
      label="Hiển thị khi"
      [components]="components"
      [variables]="variables"
      [(model)]="component.properties!.visibleWhenExpression"></attribute-expression>
    @if (!component.disabled) {
      <attribute-expression
        label="Vô hiệu khi"
        [components]="components"
        [variables]="variables"
        [(model)]="component.properties!.disabledWhenExpression"></attribute-expression>
    }
  </sd-section>
}
