@if (isMobileOrTablet()) {
  <sd-layout-user-menu [userInfo]="userInfo()" presentation="mobile"></sd-layout-user-menu>
} @else {
  <div class="c-layout-user-wrapper">
    <sd-layout-user-menu
      class="c-layout-user-avatar"
      [userInfo]="userInfo()"
      [compact]="true"
      (opened)="onMenuOpened()"
      (closed)="onMenuClosed()"></sd-layout-user-menu>

    <button
      type="button"
      class="c-layout-icon-toggle"
      [attr.aria-label]="'core.module.layout.sidebar.toggle' | sdTranslate"
      (click)="onToggleMenuLock($event)">
      <sd-icon [name]="isShowSidebar() ? 'keyboard_arrow_right' : 'keyboard_arrow_left'"></sd-icon>
    </button>
  </div>
}
