@let lbl = label();
@let app = appearance();
@let hideErr = hideInlineError();
@let errMsg = errorTooltipMessage;
@let viewDef = sdViewDef();
@let lblDef = sdLabelDef();
@let hText = helperText();
@let req = required();
@let maxLen = maxlength();

@if (viewed()) {
  @if (lblDef?.templateRef) {
    <ng-container *ngTemplateOutlet="lblDef!.templateRef"> </ng-container>
  } @else if (lbl) {
    <div class="T14R text-black400">{{ lbl }}</div>
  }
  <div class="T14M">{{ formControl.value | sdEmpty }}</div>
} @else {
  @if (!app && lblDef?.templateRef) {
    <ng-container *ngTemplateOutlet="lblDef!.templateRef"> </ng-container>
  }
  @if (!app && lbl && !lblDef?.templateRef) {
    <sd-label [label]="lbl" [required]="req"></sd-label>
  }

  <div
    class="d-flex align-items-center"
    [class.sd-view]="viewDef?.templateRef"
    [class.c-focused]="isFocused"
    [class.c-disabled]="formControl.disabled"
    (click)="onClick()"
    aria-hidden="true">
    @if (viewDef?.templateRef && !isFocused) {
      <ng-container *ngTemplateOutlet="viewDef!.templateRef; context: { value: formControl.value }"> </ng-container>
    } @else {
      <mat-form-field
        [class.sd-md]="size() === 'md'"
        [class.sd-sm]="size() === 'sm'"
        [class.hide-inline-error]="hideErr"
        [appearance]="app!"
        [floatLabel]="floatLabel()">
        @if (app && lbl) {
          <mat-label style="display: inline-block">
            <div style="display: flex; align-items: center; gap: 4px">
              <span>{{ lbl }}</span>
              @if (hText) {
                <mat-icon [matTooltip]="hText" matTooltipPosition="above">info_outline</mat-icon>
              }
            </div>
          </mat-label>
        }

        <textarea
          matInput
          [placeholder]="placeholder() || lbl || ''"
          [formControl]="formControl"
          [required]="req"
          autocomplete="off"
          (focus)="onFocus()"
          (blur)="onBlur()"
          [rows]="rows()"
          [attr.data-autoId]="autoId()"
          spellcheck="false"
          #textarea>
        </textarea>

        @if (hideErr && errMsg && formControl.touched) {
          <mat-icon matSuffix class="sd-error-icon" [matTooltip]="errMsg" matTooltipPosition="above"> error </mat-icon>
        }

        @if (!hideErr && errMsg && formControl.touched) {
          <mat-error>{{ errMsg }}</mat-error>
        }

        @if (maxLen !== null && !formControl.disabled) {
          <span matSuffix>{{ formControl.value?.length || 0 }}/{{ maxLen }}</span>
        }

        @if (sdSuffixDef()?.templateRef; as suffixRef) {
          <ng-container matSuffix>
            <ng-container *ngTemplateOutlet="suffixRef"></ng-container>
          </ng-container>
        }
        <!-- <ng-container matSuffix>
          <ng-content select="[sdSuffix]"></ng-content>
        </ng-container> -->
      </mat-form-field>
    }
  </div>
}
