@let actions = selectedTableItems() | actionFilter: tableOption()?.selector?.actions;
<sd-quick-action [isOpened]="isOpened()">
  <div class="d-flex align-items-center" sdMessage>
    <div class="c-bg-length">
      <span class="c-length">{{ selectedTableItems()?.length }}</span>
    </div>
    <div class="c-message">
      {{ message() }}
    </div>
  </div>
  @if (actions && actions.length > 0) {
    <div class="d-flex align-items-center mr-8" sdAction>
      <ng-container *ngFor="let action of actions">
        @if (action.variant === 'normal') {
          <sd-button
            class="ml-4"
            [tooltip]="action.tooltip"
            [prefixIcon]="action.icon"
            [color]="action.color"
            [type]="action.type || 'light'"
            [fontSet]="action.fontSet"
            [title]="action.title"
            (click)="onClickAction(action)"></sd-button>
        } @else if (action.variant === 'children') {
          <sd-button
            class="ml-4"
            [tooltip]="action.tooltip"
            [prefixIcon]="action.icon || 'more_vert'"
            [color]="action.color || 'secondary'"
            [type]="action.type || 'light'"
            [fontSet]="action.fontSet"
            [title]="action.title"
            [matMenuTriggerFor]="menu">
          </sd-button>
          <mat-menu #menu="matMenu">
            <span>
              <button *ngFor="let child of action.children" mat-menu-item (click)="onClickAction(child)">
                @if (child.icon) {
                  <mat-icon [fontSet]="child.fontSet || 'material-icons'" class="c-icon">{{ child.icon }} </mat-icon>
                }
                <span> {{ child.title }}</span>
              </button>
            </span>
          </mat-menu>
        }
      </ng-container>
      <sd-button class="ml-4" prefixIcon="close" color="secondary" type="outline" (click)="onClear()" width="35px"></sd-button>
    </div>
  }
</sd-quick-action>
