:host {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
::ng-deep .sd-custom-panel-filter-configuration {
  width: 240px;        // đặt chiều rộng
  max-height: 550px;   // hoặc height cố định: height: 200px;
  overflow-y: auto;    // bật scroll nếu nội dung vượt quá
}