:host::ng-deep {
  .svg {
    width: 40px;
  }

  .mat-form-field.sd-sm.mat-form-field-appearance-outline .mat-form-field-infix input.mat-input-element {
    margin-top: 7px !important;
  }
}

::ng-deep {
  .component-item.cdk-drag-preview {
    .c-component-item {
      display: none;
    }
  }

  .component-item.cdk-drag-dragging,
  .row-item.cdk-drag-dragging {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px #0e7cfa dashed;
  }

  .component-item.cdk-drag-animating,
  .row-item.cdk-drag-animating {
    /*transform: scale(1.05);
    transition: transform 0.2s ease;*/
  }

  .row-item.cdk-drag-preview {
    .c-row-item,
    .btn-drag-row-item {
      display: none;
    }
  }

  .form-item.cdk-drag-preview {
    text-align: center;

    .c-form-item {
      text-align: center;

      .svg {
        width: 40px;
      }
    }
  }
}

.form-editor {
  width: 100%;
  height: 100%;
  .material-icons {
    color: #5f6368 !important;

    &:hover {
      color: rgb(38, 38, 180) !important;
      cursor: pointer !important;
    }
  }

  .c-header {
    font-weight: 500;
    padding: 5px 10px;
    background-color: #ebebeb;
    border-bottom: 1px solid #d3d3d3;
    text-transform: uppercase;
    &:last-child {
      border-right: 0 !important;
    }
    a {
      font-size: 12px;
    }
  }

  .form-menu {
    width: 120px;
    .component-container {
      overflow-y: hidden;
      background: #f6f8fc;
      &:hover {
        overflow-y: auto !important;
      }
    }
    .form-editor-group {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .form-item {
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        user-select: none;
        color: #333;
        background: #fff;
        border: 1px solid transparent;
        width: 100px;
        margin: 6px;
        &:hover {
          background-color: rgb(231, 231, 231);
          border-color: #878b8f;
          cursor: pointer;
        }

        .c-form-item {
          text-align: center;

          & > div.title,
          & > span {
            text-align: center;
            white-space: nowrap;
            font-weight: 500;
          }
        }
      }
    }
  }

  .form-content {
    flex: 1;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    .components {
      background: #fff;
      .row-item {
        position: relative;
        transition:
          transform 0.2s ease,
          box-shadow 0.2s ease;
        cursor: grab;

        &:hover {
          outline: 1px dashed #bbb;
          border-radius: 8px;

          .btn-drag-row-item {
            display: grid;
          }
        }

        .btn-drag-row-item {
          display: none;
          position: absolute;
          top: 0;
          left: -12px;
          height: 100%;
          z-index: 2;
          place-items: center;
          cursor: grab;

          mat-icon {
            font-size: 24px;
            height: 24px;
            width: 24px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            background: #fff;
          }
        }
      }
      .component-item {
        padding: 4px 8px;
        border: 2px dashed transparent;
        position: relative;
        min-height: 28px;
        cursor: grab;
        transition:
          transform 0.2s ease,
          box-shadow 0.2s ease;
        display: inline-block;
        margin: 4px;
        border-radius: 8px;
        vertical-align: bottom;

        &:active {
          cursor: grabbing;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &:hover {
          border: 2px #0e7cfa dashed;

          .c-actions {
            display: flex;
            flex-direction: row;
            gap: 4px;
          }

          .c-bar-resize-right {
            display: block;
            cursor: w-resize;

            &.disabled {
              display: none;
            }
          }
        }

        .c-component-item {
          overflow: hidden;
        }

        .c-actions {
          display: none;
          position: absolute;
          right: 4px;
          // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          // background: #fff;
          // text-align: center;
          z-index: 2;
        }

        .c-bar-resize-right {
          display: none;
          width: 8px;
          height: 80%;
          position: absolute;
          top: 10%;
          right: -5px;
          outline: 2px #0e7cfa solid;
          border-radius: 4px;
          color: white;
          background: white;
          z-index: 2;
        }

        .c-item-backdrop {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }

      .active {
        border: 2px #0e7cfa solid;
        outline: 1px #0e7cfa solid;
      }

      .column-2 {
        width: calc(100% / (12 / 2) - 8px);
      }

      .column-3 {
        width: calc(100% / (12 / 3) - 8px);
      }

      .column-4 {
        width: calc(100% / (12 / 4) - 8px);
      }

      .column-5 {
        width: calc(100% / (12 / 5) - 8px);
      }

      .column-6 {
        width: calc(100% / (12 / 6) - 8px);
      }

      .column-7 {
        width: calc(100% / (12 / 7) - 8px);
      }

      .column-8 {
        width: calc(100% / (12 / 8) - 8px);
      }

      .column-9 {
        width: calc(100% / (12 / 9) - 8px);
      }

      .column-10 {
        width: calc(100% / (12 / 10) - 8px);
      }

      .column-11 {
        width: calc(100% / (12 / 11) - 8px);
      }

      .column-12 {
        width: calc(100% - 8px);
      }
    }
  }

  .form-attributes {
    width: 300px;

    .attributes {
      // height: calc(100vh - 147px);
      overflow-y: auto !important;
      padding: 0 10px;
      background: #f6f8fc;
      .group-attribute {
        .title-group {
          font-weight: 500;
          padding: 5px 0;
          position: relative;
          cursor: pointer;
          margin-top: 8px;

          span {
            vertical-align: middle;
            display: inline-block;
          }

          mat-icon {
            vertical-align: middle;
            position: absolute;
            right: 0;
          }
        }

        .item-group {
          .item-attribute {
            display: grid;
            margin-bottom: 10px;
            label {
              font-size: 12px;
              font-weight: 400;
              margin: 0;
            }

            input,
            select,
            textarea {
              border: 1px solid #d3d3d3;
              height: 30px;
            }

            .select-options {
              padding: 5px 0;
              border-bottom: 1px solid #d3d3d3;

              input {
                width: 100%;
                margin-bottom: 5px;
              }

              .material-icons {
                padding-top: 22px;
              }
            }
          }
        }

        /*.split-bar {
          border-bottom: 1px solid #d3d3d3;
          margin: 0px -10px;
        }*/
      }
    }
  }
}

.preview-container {
  margin: 0 -24px;
  position: relative;

  .header-preview {
    border-bottom: 1px solid #eee;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9999;

    .material-icons {
      &:hover {
        color: #5f6368;
        cursor: pointer;
      }
    }
  }

  .content {
    padding: 10px;
  }
}

.c-hidden {
  opacity: 0.5;
}
