button {
  &:focus {
    outline: none !important;
  }
}

.mat-dialog-container {
  padding: 0 !important; // Loi touchUi date picker
  .mat-dialog-content {
    max-height: 80vh;
  }
  .mat-dialog-actions {
    min-height: auto;
    margin-bottom: 0;
    padding: 0;
  }
}
.mat-bottom-sheet-container {
  max-height: 'inherit'; // 95vh;
}

sd-modal-header {
  padding: 12px 24px;
  display: block;
  width: 100%;

  @media (max-width: 640px) {
    padding: 12px 12px;
  }
}

.cdk-global-overlay-wrapper {
  .mat-bottom-sheet-container {
    padding: 0;
    min-width: 100vw;
    box-sizing: border-box;
    outline: 0;
    max-height: 80vh;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
  }
}
