@if (entity && component) {
  <sd-select
    [form]="form"
    [label]="component.label || component.key"
    [name]="component.key"
    [autoId]="component.key"
    [(model)]="entity[component.key]"
    [required]="required"
    [validator]="validator"
    [disabled]="disabled"
    [items]="items"
    valueField="value"
    displayField="display"
    disabledField="disabled"
    (sdChange)="onChanges()"
    [multiple]="component.properties?.multiple"
    [viewed]="viewed || component.properties?.viewed"
    [hyperlink]="component.properties?.hyperlink | hyperlink: entity"></sd-select>
}
