@use '../../../../../assets/scss/core/color.scss' as color;
@use 'sass:map';

.c-anchor-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  .c-anchor-list-item {
    border-left: 2px solid map.get(color.$color_map, 'secondary-light');
    color: map.get(color.$color_map, 'black500');
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .c-anchor-list-item-text {
      // Ngăn user click nhiều bị bôi đen
      user-select: none;
      -webkit-user-select: none; // Chrome, Safari
      -moz-user-select: none; // Firefox
      -ms-user-select: none; // IE/Edge
      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &.active {
      border-left: 2px solid map.get(color.$color_map, 'primary');
      font-weight: 700;
    }
    &:not(.active) {
      border-left: 2px solid map.get(color.$color_map, 'secondary-light');
      font-weight: 400;
    }
  }
}
