@let item = field();
<sd-select
  [form]="form()"
  [label]="item.label || item.key"
  [helperText]="item.helperText"
  [placeholder]="item.placeholder"
  [labelPlacement]="labelPlacement()"
  [name]="item.key"
  [autoId]="item.key"
  [model]="value()"
  (modelChange)="select($event)"
  [required]="required()"
  [disabled]="disabled()"
  [items]="items()"
  valueField="value"
  displayField="label"
  disabledField="disabled"
  [multiple]="!!item.multiple"
  [viewed]="viewed()"
  [hyperlink]="item.hyperlink | hyperlink: scope()"></sd-select>
