<ng-template cdkPortal>
  @let _isOpened = isOpened();
  <div
    [id]="id"
    class="sd-side-drawer"
    [ngStyle]="{ width: width() }"
    [ngClass]="drawerClass()"
    [class.sd-side-drawer-active]="_isOpened"
    [attr.data-autoId]="autoId()"
    [attr.data-opened]="dataOpened()"
    [attr.data-loading]="dataLoading()"
    #drawerContainer>
    @if (_isOpened) {
      <ng-container>
        <div class="sd-side-drawer-header">
          <div class="sd-side-drawer-header-left">
            <ng-content select="[sdHeaderLeft]">
              <div class="sd-side-drawer-title">{{ title() }}</div>
            </ng-content>
          </div>
          <div class="sd-side-drawer-header-right">
            <ng-content select="[sdHeaderRight]"></ng-content>
            @if (!hideClose()) {
              <button type="button" class="sd-side-drawer-close-btn" (click)="close()" aria-label="Close">
                <sd-icon name="close"></sd-icon>
              </button>
            }
          </div>
        </div>
        @if (_isOpened) {
          <div class="sd-side-drawer-body">
            <div class="sd-side-drawer-content">
              <ng-content></ng-content>
            </div>
          </div>
        }
        <div class="sd-side-drawer-footer">
          <div class="sd-side-drawer-footer-left"><ng-content select="[sdFooterLeft]"></ng-content></div>
          <div class="sd-side-drawer-footer-right"><ng-content select="[sdFooterRight]"></ng-content></div>
        </div>
      </ng-container>
    }
  </div>
  @if (_isOpened) {
    <div
      aria-hidden="true"
      class="sd-side-drawer-backdrop"
      (click)="disableBackdropClose() ? null : close()"
      (wheel)="preventScroll($event)"
      (touchmove)="preventScroll($event)"></div>
  }
</ng-template>
