@use '@angular/material' as mat;
@use './default.scss' as default;
@use 'sass:map';

// --------------------------------------------------
// Palette M2 — generated từ hex color
// --------------------------------------------------
$custom-primary-palette: mat.m2-define-palette(
  (
    50: #f0f1f5,
    100: #d7dcea,
    200: #abbce3,
    300: #6e90e3,
    400: #346aea,
    500: #2a66f4,
    600: #0645db,
    700: #0131a3,
    800: #00216d,
    900: #001546,
    contrast: (
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
    ),
  )
);

$custom-accent-palette: mat.m2-define-palette(
  (
    50: #f1f3f1,
    100: #dce5dd,
    200: #bbd3bc,
    300: #8fc291,
    400: #67b76a,
    500: #4caf50,
    600: #3a8c3d,
    700: #29692c,
    800: #1c471e,
    900: #132f14,
    contrast: (
      700: white,
      800: white,
      900: white,
    ),
  )
);

$custom-warn-palette: mat.m2-define-palette(
  (
    50: #f5f0f0,
    100: #ead9d6,
    200: #e4b0aa,
    300: #e6786b,
    400: #ee4430,
    500: #f82c13,
    600: #d11801,
    700: #9a1100,
    800: #680b00,
    900: #440700,
    contrast: (
      600: white,
      700: white,
      800: white,
      900: white,
    ),
  )
);

// --------------------------------------------------
// Theme
// --------------------------------------------------
$custom-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $custom-primary-palette,
      accent: $custom-accent-palette,
      warn: $custom-warn-palette,
    ),
    density: -3,
  )
);

@include mat.all-component-themes($custom-theme);

// Fix paginator density riêng về 0 để không bị lệch
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
