@let item = field();
<sd-textarea
  [form]="form()"
  [label]="item.label || item.key"
  [helperText]="item.helperText"
  [placeholder]="item.placeholder"
  [labelPlacement]="labelPlacement()"
  [name]="item.key"
  [autoId]="item.key"
  [model]="value()"
  (modelChange)="setValue($event)"
  [required]="required()"
  [minlength]="viewed() ? undefined : item.validation?.minLength"
  [maxlength]="viewed() ? undefined : item.validation?.maxLength"
  [disabled]="disabled()"
  [viewed]="viewed()"></sd-textarea>
