@let _type = type();
@let _tooltip = tooltip();
@let _title = title();
@let _description = description();
@let iconName = icon() || defaultIcon;
@let isPointer = click.observed;

@if (_type === 'round') {
  <div
    class="c-badge"
    matTooltipPosition="above"
    [matTooltip]="_tooltip || ''"
    matTooltipClass="sd-multiline-tooltip"
    [ngClass]="containerCombinedClasses()"
    [class.c-badge--has-icon]="!!icon()"
    [class.pointer]="isPointer"
    (click)="onClick($event)"
    aria-hidden="true">
    @if (icon()) {
      <span class="c-material-icon" [ngClass]="tagIconCombinedClasses()">
        {{ iconName }}
      </span>
    }
    <span class="c-badge-title">{{ _title }}</span>
  </div>
} @else if (_type === 'tag') {
  <div
    class="c-badge c-badge--tag"
    matTooltipPosition="above"
    [matTooltip]="_tooltip || ''"
    matTooltipClass="sd-multiline-tooltip"
    [ngClass]="containerCombinedClasses()"
    [class.pointer]="isPointer"
    (click)="onClick($event)"
    aria-hidden="true">
    <div class="c-icon d-flex align-items-center">
      @if (icon()) {
        <span class="c-material-icon mr-4" [ngClass]="tagIconCombinedClasses()">
          {{ iconName }}
        </span>
      }
      <div class="d-flex flex-column align-items-start">
        <span class="T14R c-badge-title">{{ _title }}</span>
        @if (_description) {
          <span class="T12R c-badge-description">{{ _description }}</span>
        }
      </div>
    </div>
  </div>
} @else {
  <div
    class="d-flex"
    matTooltipPosition="above"
    [matTooltip]="_tooltip || ''"
    matTooltipClass="sd-multiline-tooltip"
    [class.c-badge-icon]="_type === 'icon'"
    [class.pointer]="isPointer"
    (click)="onClick($event)"
    aria-hidden="true">
    <div class="c-icon d-flex align-items-center">
      <span class="c-material-icon mr-4" [ngClass]="iconCombinedClasses()">
        {{ iconName }}
      </span>
      <div class="d-flex flex-column">
        <span class="T14R c-badge-title">{{ _title }}</span>
        @if (_description) {
          <span class="T10R c-badge-description">{{ _description }}</span>
        }
      </div>
    </div>
  </div>
}
