@let _hideHeader = hideHeader();
@let _isCollapsible = isCollapsible();
@let _collapsed = collapsed();
@let _title = title();
@let _subTitle = subTitle();
@let _icon = icon();
@let _iconColor = iconColor();
@let _noPaddingBody = noPaddingBody();
<div class="rounded-8 bg-white" [class.c-shadow-section]="!_collapsed">
  @if (!_hideHeader) {
    <div
      class="d-flex align-items-center justify-content-between w-full px-16 py-8 cursor-pointer"
      (click)="toggleCollapse()"
      aria-hidden="true">
      <div class="d-flex align-items-center">
        <ng-content select="[sdHeaderLeft]">
          @if (_icon) {
            <span
              class="mr-8 material-icons-outlined"
              [class.text-primary]="_iconColor === 'primary'"
              [class.text-secondary]="_iconColor === 'secondary'"
              [class.text-error]="_iconColor === 'error'"
              [class.text-warning]="_iconColor === 'warning'"
              [class.text-success]="_iconColor === 'success'">
              {{ _icon }}
            </span>
          }
          <div>
            @if (_title) {
              <div class="T16M">{{ _title }}</div>
            }
            @if (_subTitle) {
              <div class="T12R text-secondary">{{ _subTitle }}</div>
            }
          </div>
        </ng-content>
      </div>
      <div class="d-flex">
        <ng-content select="[sdHeaderRight]"></ng-content>
        @if (_isCollapsible) {
          <div class="d-flex align-items-center">
            @if (_collapsed) {
              <mat-icon>expand_more</mat-icon>
            } @else {
              <mat-icon>expand_less</mat-icon>
            }
          </div>
        }
      </div>
    </div>
  }
  @if (!_collapsed || _hideHeader) {
    <!-- Nếu header bị ẩn thì không cần border top -->
    <div [class.p-16]="!_noPaddingBody" [class.c-no-padding-body]="_noPaddingBody" [style.border-top]="_hideHeader ? 'none' : '1px solid #e6e6e6'">
      <ng-content></ng-content>
    </div>
  }
</div>
