/* FORM KHAI BÁO */
.input {
  width: 100%;
  background: var(--sd-form-builder-control-bg, #ffffff);
  height: 30px;
  border: 1px solid var(--md-sys-color-outline-variant);
  position: relative;
}

.c-checkbox {
  .c-box{
    border: 2px solid var(--sd-form-builder-control-border, #828282);
    width: 16px;
    height: 16px;
    border-radius: var(--sd-radius-2, 2px);
  }
}
