<div class="fb-field">
  @if (label) {
    <div class="fb-field__label">{{ label }}</div>
  }
  @let exprText = model | expressionQuery;
  <div class="fb-expr" (click)="onEdit()" role="button" tabindex="0" (keydown.enter)="onEdit()" (keydown.space)="onEdit()">
    <span class="fb-expr__badge">QB</span>
    @if (exprText) {
      <span class="fb-expr__code mono">{{ exprText }}</span>
    } @else {
      <span class="empty">{{ 'core.component.form-builder.set-expression' | translate }}</span>
    }
    <button type="button" class="fb-icon-btn" (click)="onEdit(); $event.stopPropagation()" aria-label="edit expression">
      <span class="msi">account_tree</span>
    </button>
  </div>
</div>

<sd-modal [title]="'core.component.form-builder.set-expression' | translate" width="920px">
  <div class="fb-expression-query">
    <sd-query-builder [fields]="queryFields" [(value)]="draftFilter"></sd-query-builder>
  </div>
  <ng-container sdFooter>
    <sd-button
      prefixIcon="check"
      [title]="'core.component.form-builder.confirm' | translate"
      (click)="onAccept()"
      color="primary"
      type="fill"></sd-button>
  </ng-container>
</sd-modal>
