<sd-section class="mt-8" title="Thông tin chung" icon="info">
  <attribute-template [component]="component" (sdChange)="onChangeTemplate($event)"></attribute-template>
  <attribute-input label="Trường dữ liệu" [(model)]="component.key" [disabled]="!!component.template"></attribute-input>
  <attribute-input [form]="form" label="Tên hiển thị" [(model)]="component.label"></attribute-input>
  @if (component.properties!.viewed) {
    <attribute-input label="Hyperlink" [(model)]="component.properties!.hyperlink"></attribute-input>
  }
</sd-section>

@if (!component.properties!.hidden && !component.properties!.viewed) {
  <sd-section class="mt-8" title="Hiển thị" icon="visibility">
    <attribute-switch label="Vô hiệu" [(model)]="component.disabled"></attribute-switch>
    <attribute-expression
      label="Hiển thị khi"
      [components]="components"
      [variables]="variables"
      [(model)]="component.properties!.visibleWhenExpression"></attribute-expression>
    <attribute-expression
      label="Ẩn khi"
      [components]="components"
      [variables]="variables"
      [(model)]="component.properties!.hiddenWhenExpression"></attribute-expression>
    @if (!component.disabled) {
      <attribute-expression
        label="Vô hiệu khi"
        [components]="components"
        [variables]="variables"
        [(model)]="component.properties!.disabledWhenExpression"></attribute-expression>
    }
  </sd-section>
  @if (!component.properties!.viewed) {
    <sd-section class="mt-8" title="Ràng buộc" icon="verified_user">
      <attribute-switch [form]="form" label="Bắt buộc" [(model)]="component.validate!.required"></attribute-switch>
      @if (!component.validate!.required) {
        <attribute-expression
          label="Bắt buộc khi"
          [components]="components"
          [variables]="variables"
          [(model)]="component.properties!.requiredWhenExpression"></attribute-expression>
      }
    </sd-section>
  }
}
