.c-input {
  width: 100%;
  background: #fff;
  height: 30px;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 4px;
  position: relative;
  padding: 0 8px;
  color: #BFBFBF;
}