@if (component && entity) {
  @if (subtype === 'date') {
    <sd-date
      [form]="form"
      [label]="component.label || component.key"
      [helperText]="component.helperText"
      [name]="component.key"
      [autoId]="component.key"
      [(model)]="entity[component.key!]"
      [required]="required"
      [min]="component.validate?.min"
      [max]="component.validate?.max"
      [disabled]="disabled"
      [viewed]="viewed || component.properties?.viewed"></sd-date>
  } @else {
    <sd-datetime
      [form]="form"
      [label]="component.label || component.key"
      [helperText]="component.helperText"
      [name]="component.key"
      [autoId]="component.key"
      [(model)]="entity[component.key!]"
      [required]="required"
      [min]="component.validate?.min"
      [max]="component.validate?.max"
      [disabled]="disabled"
      [viewed]="viewed || component.properties?.viewed"></sd-datetime>
  }
}
