.c-anchor-vertical {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 16px;
  overflow-y: auto;

  &.c-stop-scroll-propagation {
    overscroll-behavior: contain; /* chặn cuộn lan ra thẻ cha */
  }

  .c-anchor-content {
    width: 100%;
  }

  .c-anchor-list {
    position: sticky;
    top: 0px;
    right: 6px; // Độ rộng của scroll-y lệch sang phải
  }
}
