@let _sdLabelDef = sdLabelDef();
@let _label = label();
@let _display = display();
@let _valueField = valueField();
@let _hyperlink = hyperlink();

@if (isViewed()) {
  @if (_sdLabelDef?.templateRef) {
    <ng-container *ngTemplateOutlet="_sdLabelDef!.templateRef"> </ng-container>
  } @else if (_label) {
    <div class="T14R text-secondary">{{ _label }}</div>
  }
  @if (_hyperlink) {
    <!-- Nếu có hyperlink thì dùng thẻ a -->
    <a [sdHref]="_hyperlink!">{{ viewedText() }}</a>
  } @else {
    <!-- Ngoài ra dùng thẻ mặc định -->
    <div class="T14M">{{ viewedText() | sdEmpty }}</div>
  }
} @else {
  <section [ngClass]="{ 'c-section': _display === 'row' }">
    @if (_sdLabelDef?.templateRef) {
      <ng-container *ngTemplateOutlet="_sdLabelDef!.templateRef"> </ng-container>
    } @else if (_label) {
      <sd-label [label]="_label!" [required]="required()"></sd-label>
    }
    <mat-radio-group
      [class.c-radio-group-column]="_display === 'column'"
      [class.c-radio-group-row]="_display === 'row'"
      [formControl]="formControl"
      [attr.data-autoId]="autoId()"
      [attr.data-disabled]="dataDisabled()"
      [attr.data-empty]="dataEmpty()"
      [attr.data-value]="dataValue()"
      [attr.data-required]="dataRequired()">
      @for (item of normalizedItems(); track item[valueField()]) {
        <mat-radio-button [class.m-0]="_display === 'column'" [class.mr-16]="_display === 'row'" [value]="item[_valueField]">
          {{ item[displayField()] }}
        </mat-radio-button>
      }
    </mat-radio-group>

    @if (formControl.errors?.['required'] && formControl.touched) {
      <mat-error>
        {{ 'core.form.radio.required' | translate }}
      </mat-error>
    } @else if (formControl.errors?.['inlineError'] && formControl.touched) {
      <mat-error>
        {{ inlineError() }}
      </mat-error>
    }
  </section>
}
