@use '../../../../../../../assets/scss/core/color.scss' as color;
@use 'sass:map';

.c-close-icon {
  margin-left: auto;
  font-size: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  color: map.get(color.$color_map, 'error');
  top: 4px;
  right: 4px;
  position: absolute;
  &:hover {
    background-color: map.get(color.$color_map, 'border'); // nền xám nhạt
  }
}
