.c-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.c-radio-button {
  margin: 5px;
}

.c-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: static;
  height: 116px;

  background: #f6f6f6;
  border-radius: 4px;

  .c-empty-image {
    content: url('../../../../../assets/img/empty.png');
  }
}

.c-table {
  position: relative;
  overflow: auto;
  table {
    width: 100%;
  }
  .c-th {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
}
