@if (!noHeader()) {
  <div class="c-page-header bg-white">
    <div class="p-16 d-flex align-items-center w-full justify-content-between">
      <div class="d-flex">
        <ng-content select="[headerLeft]">
          <div class="d-flex flex-column">
            <div class="T20M">{{ title() }}</div>
            @if (description()) {
              <div class="T14R text-secondary mt-4">{{ description() }}</div>
            }
          </div>
        </ng-content>
      </div>
      <ng-content select="[headerRight]"></ng-content>
    </div>
  </div>
}

<div class="c-page-wrapper px-0">
  <div class="c-page-content">
    <ng-content></ng-content>
  </div>
</div>
