<sd-button type="fill" color="secondary" title="secondary fill"></sd-button>
<sd-button type="fill" color="black" title="black fill"></sd-button>
<sd-button type="light" color="secondary" title="secondary light"></sd-button>
<sd-button type="light" color="black" title="black light"></sd-button>
<sd-button type="outline" color="secondary" title="secondary outline"></sd-button>
<sd-button type="outline" color="black" title="black outline"></sd-button>
<sd-button type="text" color="secondary" title="secondary text"></sd-button>
<sd-button type="text" color="black" title="black text"></sd-button>
