.c-table {
  border: 1px solid #ddd;
  .c-header {
    border: 1px solid #ddd;
    border-bottom: 0 !important;
    .c-item {
      font-weight: 500;
    }
  }
  .c-content {
    border: 1px solid #ddd;
  }
  .c-item {
    border: 1px solid #ddd;
    padding: 8px 10px;
    width: -webkit-fill-available;
    min-width: 75px;
    h .spc {
      color: #ddd;
    }
  }
}
